[2016-10-25 08:19] dNetGuru opened #1 "Any plans to upload the conventions code?"
It has been a while since the conventions code has been removed from the graphql-dotnet repository and I have been wondering for a while if the conventions code is going to be uploaded here any time soon.

Thanks!

[2016-10-25 09:21] tlil commented on #1
Final rounds of testing on my end here now, so I expect to have it up by the end of next week. cc @moserware, @zhech2, @scmccart, @SpencerMacKinnon, @holm0563 @joemcbride.

[2016-10-25 17:54] joemcbride commented on #1
There are a couple forks floating around of the old code available if you're interested in looking at it.

https://github.com/joemcbride/conventions

[2016-10-25 17:58] tlil commented on #1
Yeah that's _very_ outdated now ;p I essentially scrapped most of it and refactored it all.

[2016-10-25 18:56] dnetguru commented on #1
Let me know if I can be of any help.

[2016-11-21 12:49] tlil commented on #1
@dNetGuru Initial version is up. I'm adding in Appveyor build and NuGet packaging right now.

[2016-11-21 12:49] #1 closed

[2017-01-11 15:23] ronnyek opened #9 "Generating InterfaceGraphTypes and OutputObjectGraphType incorrectly?"
So I'm trying to use conventions to do some manual mapping as previously discussed in the issues section of the graphql-dotnet github repo.

I'm basically reproducing the typical starwars example you see everywhere for graphql examples... and seeing some discrepancies between this and other libraries. I'm basically using DeriveType() to take high level classes marked with attributes I specify and

[2017-01-11 15:28] tlil commented on #9
Can you post the code you're using to generate schema @ronnyek ?

[2017-01-11 16:00] ronnyek commented on #9
Hmm not easily... I'll see about fixing the solution so I can get a unit test going building stuff out very plain vanilla... see if I get the same type of results... but it should be able to accomodate interfaces and enums?

[2017-01-11 16:10] tlil commented on #9
Yes, there are some examples [here (GraphQLEngineTests.cs#L51)](https://github.com/graphql-dotnet/conventions/blob/be796d36f7057e2e528b6da8c57f15fc4cd4a98c/test/GraphQL.Conventions.Tests/Adapters/Engine/GraphQLEngineTests.cs#L51):

![image](https://cloud.githubusercontent.com/assets/5948145/21855849/c077a4fa-d817-11e6-932f-309dfff71a29.png)

Resulting in:

[code]

`enum`'s should also work (see fo

[2017-01-12 14:56] ronnyek commented on #9
hmm, that does seem to work for me (creating an object to hard code the schema, but maybe thats just how things have to be) Other than one other minor thing... if my objects implement two interfaces, it just lists same interface twice.

[2017-01-12 14:59] tlil commented on #9
Oh, really @ronnyek ? If that's the case, that's a bug :( I will add a unit test for that and verify / fix accordingly.

[2017-01-12 15:01] tlil commented on #9
And yes, if I understand you correctly, that's what this library is intended for: Generate GraphQL schemas from defined .NET type hierarchies. Not dynamically creating ones outside of that. If you post more details about what you're trying to do though, I might see if there's a use-case for it and see if that can be supported.

[2017-01-12 15:28] ronnyek commented on #9
I'm just trying to build some conventional based automatic graphql schema generation. I don't intend to get too crazy with the objects/entities that get returned themselves....

So I've got a "schemabuilder" that effectively wraps up conventions/annotations... and ultimate goal would be to in our apps intialization just call SchemaBuilder.Build() (much like what you have in your library).

The onl

[2017-01-12 18:42] ronnyek opened #10 "Problems with test solution latest XPROJ"
I don't know why but I absolutely couldnt get unit tests to run inside of visual studio after getting latest. I attempted to fix what I believed to be a bug, but couldnt verify with tests. Out of the box, it seems like the xproj files contain invalid paths, and the test project xproj has a bunch of white space at the beginning of the file which causes vs.net to be extremely unhappy.

After manuall

[2017-01-13 17:14] tlil commented on #10
I've only tested the project compilation from commandline on Windows, and from commandline and Visual Studio Code on macOS. Will take a look at it over the weekend.

[2017-01-13 17:15] tlil commented on #9
:+1: Will get back to you with some more thoughts over the weekend.

[2017-01-14 00:00] ronnyek commented on #9
Sweet, yeah I don't know if it even makes sense to make changes here to be honest...

I played with this a bit. I played with the idea of modifying a schema definition to take an object instead of generic type parameter. And that came with its own challenges. That's kind of what I was implying with the compositing this and annotations or just pure graphql-dotnet.... I'd be able to just say constru

[2017-01-15 20:20] tlil commented on #9
There are a few different ways that you can go about this. The easiest is probably to:

1. Derive an instance of `IGraphType` for the return type of the field that you want to add (`GraphTypeAdapter.DeriveType`), i.e. the type descriptor for the repository itself.
2. Manually add a field on the `Query` object according to your specification.

**Example:**
Say that you want to add a field `users` o

[2017-01-15 20:43] tlil commented on #9
@ronnyek re:

I committed https://github.com/graphql-dotnet/graphql-dotnet/compare/12726ac79dcabe9b492f98e1ecc392d95e4389a6...6b806c2aa3b6adfa974621a0ae3666430c603971#diff-3173ce489fac4523f0479aef1c4b48a9 as part of https://github.com/graphql-dotnet/conventions/commit/88a2afa64c9419234574b361454cc352b4661a5a to fix that – thanks for reporting!

AppVeyor seems to be having problems right now, but t

[2017-01-16 16:05] ronnyek commented on #9
I believe I get what you are saying there... if I pass userRepoType in like that in for type like below, I just get a OutputObjectGraphType`1 as the type for the userRepo etc.  I dont see anyplace it'll let me pass a non type to Type, nor do I see anyway to add a field with a FieldInfo type like that.

[code]

query in this case is just a new ObjectGraphType, but almost feel as if I'm using a diff

[2017-01-16 16:07] ronnyek commented on #9
I believe if I explicitly set ResolvedType to that graphtype, it just overwrites what it was using for type, but I still have to pass the type in as well. This may get me going =)

[2017-01-16 19:28] tlil commented on #9
@ronnyek See https://github.com/graphql-dotnet/conventions/commit/d27b4abcdb91d14717af64228f4d61e96325c476 for an example of how you can solve it. I'll close this issue now, but feel free to reopen if that doesn't cover what you needed.

[2017-01-16 19:28] #9 closed

[2017-01-17 19:16] ronnyek commented on #10
I'd be more than happy to contribute some unit tests that could both be used to verify conventions lib is doing what its supposed to, as well as further test for future... but I cant easily debug.

[2017-01-17 20:54] ronnyek commented on #9
Ok that helped immensely... In an effort to track down, I basically took that demo test, appended enum data, and it starts failing the way I see it failing on my side.

[code]

[2017-01-17 20:57] tlil commented on #9
Have you registered the type like this?

https://github.com/graphql-dotnet/conventions/commit/d27b4abcdb91d14717af64228f4d61e96325c476#diff-51df35b777650eeee206ab5fd1c92592R26

and

https://github.com/graphql-dotnet/conventions/commit/d27b4abcdb91d14717af64228f4d61e96325c476#diff-51df35b777650eeee206ab5fd1c92592R33

[2017-01-17 21:14] ronnyek commented on #9
Well I wasn't registering with the schema, but I forgot that I wasn't doing that, because if I try and register the graph type generated from the enum, it detects as a "NonNullGraphType" and blows up with "Only add root types".

[2017-01-17 21:24] tlil commented on #9
Try registering `UserFlag?` ? Does that work?

[2017-01-17 22:55] ronnyek commented on #9
schema.RegisterTypes(Type[]) wont let me register a simple Enum saying its not of GraphType type, and if I schema.RegisterTypes(userGraphType), its blowing up with the only add root types bit.

[2017-01-17 23:21] tlil commented on #9
@ronnyek I meant something like this (untested – can have a closer look later):

[code]

[2017-01-17 23:25] ronnyek commented on #9
Oh sorry, nullable type, I thought the first question mark was just erroneous... I'm definitely almost there with everything else though. Appreciate the time!

[2017-01-19 17:20] cable729 opened #11 "Cannot inject interface with a generic return method"
First of all, thanks for sharing this library with the public! I'm trying to introduce it to a new project, but I'm running into some trouble when injecting a simple interface with a generic return method. I'm using .NET 4.5. This error:

[code]

is produced by this code:

[code]

In fact, if I remove the `[Inject]` attribute, it still fails.

I haven't been able to build the project yet. I'm goin

[2017-01-19 17:38] tlil commented on #11
Thanks – will take a look @cable729. Are you registering a dependency injector btw (not that that should influence this)?

FWIW, I'm working on some improvements here now anyway, so will take a look at this at the same time.

[2017-01-19 19:40] cable729 commented on #11
I tried it both with registration and without registration. Same results.

On Thu, Jan 19, 2017, 10:38 AM Tommy Lillehagen <notifications@github.com>
wrote:

[2017-01-19 20:28] tlil commented on #11
I've found the issue and will push a fix soon

[2017-01-19 20:38] cable729 commented on #11
Awesome, thanks! By the way, I'm trying to figure out what tools I can use in windows to debug this. Apparently Visual Studio 2017 requires upgrades from xproj to csproj now. I'm going to double check if Visual Studio 2015 works with xproj's still.

[2017-01-19 20:40] tlil commented on #11
Yep, I'll sort that as part of https://github.com/graphql-dotnet/conventions/issues/10 ;)

[2017-01-19 20:51] cable729 commented on #11
Cool! As soon as I can open in visual studio I can start digging deeper and hopefully contribute back to this project.

Alternatively, I suppose I can try opening it on my mac like you do.

[2017-01-19 21:38] cable729 commented on #11
Okay, I uninstalled all previous .NET Core tooling and installed only the latest LTS (1.0.3) version, along with the latest VS15 tooling. Now I'm able to open it up (after a few tweaks like fixing the extra lines at the beginning of the two test .xproj's and a duplicate project.json dependency in the server tests -- which I'm sure is the issue you're about to push a fix for in #10).

[2017-01-19 23:32] tlil commented on #11
Closed by https://github.com/graphql-dotnet/conventions/pull/12. Let me know if you experience any more problems with this @cable729. Will look at the tooling one separately.

[2017-01-19 23:32] #11 closed

[2017-01-21 21:39] cable729 commented on #11
Thank you! Super excited to start using your library at work.

[2017-01-21 21:45] cable729 opened #13 "Roadmap?"
Thanks again for sharing this code @tlil! It would be nice to know what's being worked on in this library, so we can know what is coming up, as well as what we can help with. I don't think a full roadmap is necessary; some brainstorming based on this list would probably be sufficient:

1. What's being worked on now that's not recorded in issues?
1. What needs work?
1. Planned improvements
1. Impro

[2017-01-27 18:07] cable729 opened #14 "Empty derived interface causes problems"
# Reproduction

I have two interfaces like this:

[code]

Then I have a query that returns something that has an `IAccount`, which causes `IAccount` to be registered.

# Expected

I expect for `IAccount` to have one field: `Id`, and for GraphiQL to not fail.

# Actual

I get this error in GraphiQL:

[code]

In the schema returned, `IAccount` it looks like this:

[code]

[2017-01-27 18:10] tlil commented on #14
Ah, right on! Will get that fixed - thanks for the thorough report! 👍

[2017-01-30 18:03] tlil commented on #14
Should be solved in https://github.com/graphql-dotnet/conventions/pull/15

[2017-01-30 18:03] #14 closed

[2017-02-07 19:04] huysentruitw opened #16 "Submodule vs nuget dependency"
Why is this library adding graphql-dotnet as a git submodule rather than having a nuget dependency on it?

[2017-02-07 20:01] tlil commented on #16
We've used a derived branch of graphql-dotnet internally so far and have generally been a few commits off from what's officially in the public repo. To avoid that being a blocker on our development and deployment process, and to remove some of the friction in development, we've set it up as a submodule instead. This might well change in the future though. For now, this has been a simplification to

[2017-02-08 08:02] huysentruitw commented on #16
Thanks for the clarification.

[2017-02-08 08:02] #16 closed

[2017-02-08 08:40] huysentruitw opened #17 "The use of FetchData"
What's the idea behind the `FetchData` method on the `IDataLoaderContextProvider` interface?

[2017-02-10 11:36] huysentruitw opened #20 "Using Guid's as 'ID' graph type"
Our models are using `Guid`'s as identifiers and I'm looking for a way to use them with this library.

    public class User
    {
       public Guid Id { get; set; }
    }

One solution is to change the `Guid` to a `string`, but then we need to do the parsing/tostring conversion ourselves and the graphql type of the field ends up being `"String"` instead of `"ID"`, where `"ID"`would be more appro

[2017-02-14 09:59] baluubas opened #22 "Custom attributes for Authentication/Authorization"
Hi,

I'm trying to adapt the authentication/authorization sample from the original project: https://github.com/graphql-dotnet/graphql-dotnet/blob/master/docs/learn.md but run in to trouble since I can't find a way to add a FieldMiddlware. I guessing the approach is different with the these conventions and I would be greatful for any tips that could point me in the right direction.

Thank, -Anders

[2017-02-14 10:27] baluubas commented on #22
Nevermind. I've found `ExecutionFilterAttributeBase` and that worked like a charm.

[2017-02-14 10:27] #22 closed

[2017-02-14 12:56] tlil commented on #22
Glad you found out how to implement it. Sorry, the documentation is pretty poor at the moment. I will try to get some more docs added soon.

[2017-02-16 09:48] baluubas opened #24 "Injected dependencies get reflected"
Hi,

I have some trouble with building a schema which contain a injected dependency. I'm getting:

`Cannot construct argument 'parameters' of type 'object'; invalid type."`

It seems that reflection is performed on the dependency and in that dependency graph is an `dynamic` parameter called parameters which causes the problem.

The behavior I expected was that `[Inject]`'ed types would be ignored

[2017-02-16 10:02] tlil commented on #24
Yes, sorry there are some bugs in the DI portion of the library that I literally fixed this morning. Will push out a new version in a few hours. :) sorry about that!

[2017-02-16 10:09] baluubas commented on #24
Awesome!

[2017-02-16 10:42] tlil commented on #24
Merging #25 now, so you should be able to try out v1.1.2 in a few once the AppVeyor build has completed @baluubas. Let me know how you get on with that build.

[2017-02-16 10:46] tlil commented on #24
https://www.nuget.org/packages/GraphQL.Conventions/1.1.2

[2017-02-16 12:03] baluubas commented on #24
Works like s charm. Nice job.

[2017-02-16 12:03] #24 closed

[2017-02-20 19:19] tlil commented on #10
@ronnyek i've included project files using the new `.csproj` format for .NET Core now (in addition to the `.proj` files for now).

FYI, there's also this to be aware of: https://github.com/OmniSharp/omnisharp-vscode/issues/1100

[2017-03-08 11:40] huysentruitw opened #30 "Can't run unit tests"
I've installed VS2017 but unit tests do not show up in the Test Explorer. I've also tried `dotnet test`, but it complains that the NuGet package `microsoft.testplatform.testhost` is missing. After adding that packages it also doesn't find any test.

This made me wonder how you are running those tests...

[2017-03-08 11:41] huysentruitw commented on #20
I'll open a PR for this after I get the unit tests running (see #30). Meanwhile I'll close this issue.

[2017-03-08 11:41] #20 closed

[2017-03-08 18:46] huysentruitw commented on #30
Ok I finally have it working by removing `dotnet-test-xunit` and adding `Microsoft.TestPlatform.TestHost` + `xunit.runner.visualstudio`. Is this something I can create a PR for, or will it break your setup?

[2017-03-12 19:05] tlil commented on #30
I'll put up a PR for this tonight and get that sorted. I've been dev'ing on a Mac and haven't tested it with Visual Studio. Also have to verify that Appveyor got all prerequisites and don't complain. Will CC you on the PR

[2017-03-12 19:07] tlil commented on #10
@ronnyek will close this issue as I'm already addressing it through: https://github.com/graphql-dotnet/conventions/issues/30. Sorry about the slow response. Will get the unit tests set up properly for Visual Studio as well. PR pending.

[2017-03-12 19:07] #10 closed

[2017-03-12 19:10] tlil commented on #20
Thanks, just catching up here now. Thanks for the PR.

[2017-03-12 21:24] tlil commented on #17
Work in progress, but the idea was to extend it so that the context could be automatically linked in for use with a data loader:

![image](https://cloud.githubusercontent.com/assets/5948145/23836044/84a09ed8-0769-11e7-892e-6892ca053fec.png)

Where `Get<T>(Id id)` would enqueue those requests and `FetchData()` would group, batch and resolve any incomplete tasks; for example, with an example schema

[2017-03-12 21:24] #17 closed

[2017-03-12 23:28] huysentruitw commented on #30
I already have a fork with those package changes and appveyor build (VS2017) and nuget deploy, see https://ci.appveyor.com/project/huysentruitw/conventions

[2017-03-13 10:08] tlil commented on #30
Included those changes in https://github.com/graphql-dotnet/conventions/pull/34 - [version 1.2.0](https://github.com/graphql-dotnet/conventions/releases/tag/v1.2.0).

Don't have my Windows machine with me here, so not able to test it right now, but let me know if you experience any problems.

[2017-03-13 10:08] #30 closed

[2017-03-13 12:49] huysentruitw opened #35 "Optional enums"
While checking this test: [`Can_Construct_And_Describe_Schema_With_Enums`](https://github.com/graphql-dotnet/conventions/blob/ad6a84c30b2381a9f58d9c906aa73cac3e893313/test/Tests/Adapters/Engine/GraphQLEngineTests.cs#L86), I have a question regarding the fact that:

    public Enum2 Field3(Enum2? arg1, Enum1 arg2, Enum2 arg3 = Enum2.SomeValue2, Enum1? arg4 = Enum1.Option3) => arg3;

translates into

[2017-03-13 12:54] tlil commented on #35
@huysentruitw good catch! I think making it optional in this case makes more sense. The NRE should also be fixed. I'll get that sorted. Thanks 👍

[2017-03-27 15:22] tlil commented on #35
@huysentruitw FYI: https://github.com/graphql-dotnet/conventions/releases/tag/v1.2.1

A note on the nullable vs non-nullable types: having thought about it, I'd rather have the user being explicit  about it and use a nullable type in C# for those optional arguments. It just makes it more readable and explicit overall IMHO.

I'll close this ticket now, but feel free to comment / re-open if you cont

[2017-05-02 07:06] huysentruitw opened #40 "Mark a class as input and output type"
Is there a way to have a class marked as both Input and Output Type?

Now we can only use the `[InputType]` attribute or no attribute for marking it as an output. But we have situations where classes need to be Input and Output types.

[2017-05-02 08:42] tlil commented on #40
I would advise against using the same class as an input and output type. However, if they overlap and all fields are auto properties, you should be able to derive a class `[InputType] class FooInput : FooOutput { }`. Or something like that... I have not tested that myself though.

[2017-05-02 10:18] huysentruitw commented on #40
Deriving is what we currently do, it works but the front-end has to define 2 exact models.

I understand that it's better to have a separate query and mutation model, but we're talking about complex value types used in a Union which is part of a query and could be re-used in a mutation.

Now, we have to create a new union and derive from each type to get its output variant. ~~Switching to a struct

[2017-05-02 10:20] tlil commented on #40
Kk. Any example code you can post to demonstrate what you're trying to do? Just to make sure I get the whole picture.

[2017-05-02 11:16] huysentruitw commented on #40
Sure. First of all, we're dealing with data that describes a dynamic form (user can create his/her own form and choose which fields are on it + the datatype of each field).

We have this mutation:

    [InputType]
    public class AddFormFieldMutation
    {
        public string Name { get; set; }
        public NonNull<DataTypeSet> DataTypeSet { get; set; }
    }

    [InputType]
    public class

[2017-05-03 12:19] huysentruitw commented on #40
I've investigated this a bit more and this even seems to be limited by the GraphQL specification. We can't define the same type as OBJECT_TYPE and INPUT_TYPE at the same time. All we can do is make it a SCALAR (struct), but then we loose the field information in our schema.

So, let us conclude that overriding is the only solution to this problem.

[2017-05-03 12:19] #40 closed

[2017-05-03 12:27] tlil commented on #40
Yes, exactly. There are constrains in that respect. Also, in my experience, it makes it cleaner separating input from output when the schema grows.

[2017-05-03 21:24] harrisse opened #41 "IValidationRule Support"
Hello,

I was wondering if there was any way to inject custom validation rules? It looks like `GraphQLExecutor.Execute` always passes null rules to `GraphQLEngine.Execute` [here](https://github.com/graphql-dotnet/conventions/blob/eddd4c1e6293e182007ab56a6e392c45b16a0d91/src/GraphQL.Conventions/Adapters/Engine/GraphQLExecutor.cs#L114) but I figured maybe I was missing something.

Thanks!
Sam

[2017-05-04 11:43] tlil commented on #41
Hi @harrisse - yes, it's unintentionally not possible at the moment. I will push a branch to fix that. At the moment it uses the defaults or overrides that with a no-op rule if you choose to disable validation altogether; see [GraphQLEngine#L203-L206](https://github.com/graphql-dotnet/conventions/blob/eddd4c1e6293e182007ab56a6e392c45b16a0d91/src/GraphQL.Conventions/Adapters/Engine/GraphQLEngine.cs

[2017-05-04 11:51] tlil commented on #41
@harrisse - does this work for you: [IGraphQLExecutor.WithValidationRules](https://github.com/graphql-dotnet/conventions/pull/42/files#diff-714b155763e54b3d7478cbfb1ca2f2edR26). Available in [v1.2.5](https://github.com/graphql-dotnet/conventions/releases/tag/v1.2.5).

[2017-05-04 16:39] harrisse commented on #41
That's exactly what I was looking for, thanks!

[2017-05-04 16:39] #41 closed

[2017-05-04 16:40] tlil commented on #41
Excellent!

[2017-05-11 10:35] Marfusios opened #44 "Error while updating to 1.2.3 and upper"
Hello,

can't update the library to version 1.2.3 and greater.
Exception:
[code]

It seems there is a change in referencing `Newtonsoft.Json` from version '>= 9.0.1' to '>= 5.0.6' and it doesn't work

[2017-05-11 10:39] tlil commented on #44
Ah, that's my bad, sorry about that – I will get that updated (we had to downgrade to 5.0.6 due to other dependencies in-house, and are using .NET v4.5, hence why it slipped through). Will push a PR shortly.

[2017-05-11 10:47] tlil commented on #44
Should be fixed in v1.2.7: https://github.com/graphql-dotnet/conventions/pull/45. Able to verify for me @Marfusios ?

[2017-05-11 10:57] Marfusios commented on #44
Restored, updated, perfect.
Thank you, really quick response!

[2017-05-11 10:58] tlil commented on #44
Good stuff 👍  Thanks for reporting!

[2017-05-11 10:58] #44 closed

[2017-06-27 19:45] huysentruitw opened #49 "Injector.Resolve gets called outside of request context?"
There seems to be an issue that sometimes `Injector.Resolve` gets called outside the WebAPI request context (at least this is how it looks like).

I've created a very simple WebApplication in an attempt to reproducing this issue.

In our application, we're using Autofac for resolving our repositories. Therefore, we created a `IDependencyInjector` for your library that lets us resolve types from Au

[2017-06-27 19:57] huysentruitw commented on #49
~~One possibility would be the usage of `ConfigureAwait(false)` in the Conventions library that causes loosing the web request context see https://stackoverflow.com/a/40220190/1300910~~ Removed all `ConfigureAwait(false)` calls and it still fails.

Remark: we're using normal ASP.NET WebAPI 2, not ASP.NET Core.

[2017-06-28 08:30] huysentruitw commented on #49
Investigating this further and I now believe this problem is related to Autofac.WebApi rather than this library.

To prove this, I've created a middleware that sits between Autofac WebApi middleware and the WebApi middleware and am logging a 'Begin request X' and 'End request X', I'm also storing X on the current OWIN context and print it out in the WebApi controller method after executing the Gra

[2017-06-29 08:37] huysentruitw commented on #49
Found the root of the problem. There seems to be only one dependency injector and it is kept on the engine (see https://github.com/graphql-dotnet/conventions/blob/master/src/GraphQL.Conventions/Adapters/Engine/GraphQLExecutor.cs#L87) although the method `WithDependencyInjector` is a member of the `GraphQLExecutor`/

This means, that in a multi-threading environment thread 1 can override the depend

[2017-06-29 09:11] tlil commented on #49
Ah sorry dude. Just saw this now. Thanks for looking into it - nice catch! Will look at your PR here later today and get that merged. Thanks!

[2017-06-30 08:00] huysentruitw commented on #49
Thank you. I'm leaving on a holiday after today, so if there are any issues with the PR, I can fix them today, otherwise it might take some time.

In the meantime, we're creating an engine for each request 😮, not performant, but we have to prepare for a demo 😄

[2017-06-30 08:14] tlil commented on #49
👍 Haha, yeah. I've merged it now - looks good! Version 1.2.9 is indexing on NuGet as we speak :-)

Thanks for fixing this!

[2017-06-30 08:14] #49 closed

[2017-06-30 08:14] tlil commented on #49
For reference: https://github.com/graphql-dotnet/conventions/releases/tag/v1.2.9

[2017-06-30 20:14] huysentruitw commented on #17
Re-checking this data loader thing, and I currently have something setup. But shouldn't `FetchData` be called on the `AfterExecutionAsync` instead of `BeforeExecutionAwaitedAsync`, see [source](https://github.com/graphql-dotnet/conventions/blob/master/src/GraphQL.Conventions/Adapters/Engine/Listeners/DataLoader/DataLoaderListener.cs#L9). I have an implementation that collects the tasks to be resol

[2017-07-12 11:04] tlil commented on #13
@cable729 - How's it going? I went through my list here today and realised I completely forgot to answer you questions here.

Is there anything in particular that you're interested in knowing?

Some things that are on my list currently:
 (1) Add support for `null` literals (expect that to be added over the next 1-2 weeks)
 (2) Default profilung support
 (3) Conventions for basic data loading
 (4)

[2017-07-13 09:07] ordinaryorange opened #53 "Project Status"
@tlil is this project alive ?
Am trying to use it but am hitting a couple of issues. Even tried the src to debug but GraphQL deps all broke.

First issue here [on SO](https://stackoverflow.com/questions/44981794/argument-overloads-for-graphql-field)
Second is that i'm getting a null object from a field when the field returns an interface type. Works if the field return is a concrete type.

[2017-07-13 09:36] tlil commented on #53
**Issue no. 1**: Conventions doesn't support method overloads as there are no ways of representing that in GraphQL - you can't have two fields with the same name and different signatures in GraphQL. So if you change to the below, you should be okay:

[code]

[code]

[2017-07-13 09:42] tlil commented on #53
Can you elaborate on the second issue that you're seeing please?

And to answer your very first question, @ordinaryorange - yep, it's alive :-)

[2017-07-13 09:52] ordinaryorange commented on #53
Great to hear the project is alive! I'm surprised about the lack of others here....I think it it a fantastic addition to GraphQL.Net. Without this us .NETers would have a hard time using GraphQL from Facebook.
Thanks for feedback on 1. I'm checking something on that now....
In regard to 2. If I have a Query where all the return types from the fields are interfaces, then I get a null when querying

[2017-07-13 10:21] ordinaryorange opened #54 "Overloaded fields"
What I want to do is as per this post [on SO](https://stackoverflow.com/questions/44981794/argument-overloads-for-graphql-field)

@tlil you are correct that GraphQL does not support two fields with the same name. Not sure if this is a limitation with [GraphQL](https://github.com/graphql-dotnet/graphql-dotnet) or [GraphQL](http://graphql.org/) ?
However I see that a field can have multiple argument

[2017-07-13 10:22] ordinaryorange commented on #53
i've started another thread for Q1 - #54 to save mixing discussions.

[2017-07-13 10:54] tlil commented on #54
I'm pretty sure it's a limitation of GraphQL itself (i.e., not the C# library).

If you want to separate the logic out to separate resolvers, I would do something like:

[code]

**Note**: The return types of `GetDroidByName` and `GetDefaultDroid` need to be the same obviously, so you can't mix `IEnumerable<Droid>` and `Droid` unless you had the latter case mask as a result of type `Droid[1]`

[2017-07-13 10:55] tlil commented on #53
It should try to auto-detect those implementations – can you paste a code snippet of the schema and the query?

[2017-07-13 11:16] niklaskallander opened #55 "No HttpContext with the new default field resolver (WrappedAsyncFieldResolver)"
Hi,

When upgrading to the latest version of conventions, containing the new default field resolver (`WrappedAsyncFieldResolver`) our code stopped working. The resolver uses `Task.Run` which makes the `HttpContext` to get lost.

We can configure our service to use the `Normal` field resolution strategy (which is working fine for us), but I'm curious about the purpose behind `WrappedAsyncFieldResol

[2017-07-13 12:34] ordinaryorange commented on #53
Digging deeper. My snippet wont fail...grr

[2017-07-13 13:03] tlil commented on #55
Hi Niklas,

To be honest, the `WrappedAsyncFieldResolver` is a bit of a hack at the moment to get around a conflict with some internal libraries that we have, triggering a deadlock using the normal resolver. And a side-effect is that resolvers get executed sequentially - which obviously isn't great if you've got any expensive resolvers... :-)

That should just be used temporarily until we get to t

[2017-07-13 13:27] niklaskallander commented on #55
Fair enough, thanks for the info!

Just a thought, if it's a temporary hack why make it the default strategy (considering the potential breakage for dependents)?

[2017-07-13 13:37] tlil commented on #55
Yeah, that wasn’t supposed to happen - so that was an oversight on my part, sorry. I’ll make that change in the next few days together with some other pending changes.

[2017-07-13 13:45] niklaskallander commented on #55
No rush on my behalf, we build from our own mods anyway (to circumvent https://github.com/graphql-dotnet/graphql-dotnet/issues/280), thanks! (:

[2017-07-13 16:21] cable729 commented on #13
No particular questions for me. I've actually moved over to the Java world (:open_mouth:) so I haven't been following  graphql-dotnet much. Maybe others who thumb-up'd my comment have questions though?

[2017-07-13 16:24] tlil commented on #13
Haha, I won't start a .NET vs Java discussion here ;)

I'll leave this open for a few days to see if any questions come in then...

Cheers

[2017-07-13 16:39] cable729 commented on #13
Oh, I'm definitely missing .NET already :smile:

[2017-07-14 03:27] ordinaryorange commented on #53
Ok narrowed it down. When the interface and the concrete implementation are in the same assembly all works as expected. However when the two are in separate assemblies then the Schema will only contain the interface definition and despite my DI container actually passing back an instantiated concrete instance the query returns null.
An issue somewhere during schema construction ? Or do I have to e

[2017-07-14 04:02] ordinaryorange commented on #54
Did some deep digging on this one, and what I would like to do is outside the current [spec](https://github.com/facebook/graphql)
Conventions and GraphQL (.net) are doing the right thing.

I was thinking about injecting in custom field resolvers into conventions, but doing it externally for now is a simpler woraround.

Ta.

[2017-07-14 06:28] tlil commented on #54
👍

[2017-07-14 06:28] #54 closed

[2017-07-14 06:30] tlil commented on #53
Gotcha – yes, I'll add a method for adding search assemblies to automatically discover those types. I've already got that in place for attributes and have just forgotten to put in a similar utility for types as a need hasn't presented itself until now :)

Will ping you an update later when I get that updated

[2017-07-14 18:11] gugoiscardoso commented on #30
Is it possible to use GUIDs now?

[2017-07-14 18:26] gugoiscardoso commented on #20
Is it possible to use GUIDs now?

[2017-07-14 18:38] huysentruitw commented on #20
Yes, it is

[2017-07-14 19:14] gugoiscardoso commented on #20
I used Guid in my models, but I had the same error:
ArgumentOutOfRangeException: The type: Guid cannot be coerced effectively to a GraphQL type

[2017-07-16 12:23] #13 closed

[2017-07-18 21:02] huysentruitw commented on #55
Depending on `HttpContext.Current` is the biggest mistake here 😃

[2017-07-18 21:22] tlil commented on #55
🤣  👍

[2017-07-19 09:30] niklaskallander commented on #55
@huysentruitw although that is true and all, every now and then, some people (not you, obviously) have to live with decisions made a long time ago (at least for a while longer).

And to be clear, I'm not complaining about stuff not working, that's fine. We have to live with and suffer for our own sins. We can't expect anyone else to do that for us, can we?

I'm simply reporting a breaking change t

[2017-07-19 09:33] tlil commented on #55
Yep, that breaking change shouldn't have gotten in there - so that one is on me :) Will get that back in order over the next few days.

[2017-07-19 14:24] huysentruitw commented on #55
@niklaskallander didn't want to start a rant. I already have experience with refactoring away `HttpContext.Current` usage in a large enterprise application (because the bloody thing was totally untestable because of that), so I feel your pain. We are now using the conventions library in a new project where it is strictly forbidden to use `HttpContext.Current`, otherwise they'll have to buy me a 🍕

[2017-07-21 09:04] adebisi-fa opened #57 "How to use the IProvideMetadata API via Convention?"
Hello,

Thanks for this thorough and brilliant effort to ease off the verboseness of the powerful GraphQL.Net!  It's awesome!!!

A quick one:

What's the best way to take advantage of the **IProvideMetadata** API of GraphQL.Net?  I'm currently looking into doing Declarative permission on IGraphTypes (**GraphType** and **FieldType**) probably using Attribute and ValidationRule or something.  But no

[2017-07-25 21:44] tlil commented on #57
Hi @adebisi-fa,

If you're looking to wrap each resolver with application logic based on associated meta-data, you can extend `MetaDataAttributeBase` and `ExecutionFilterAttributeBase`. Not directly relevant, but I've included an example below. Hopefully, that helps clarify things a bit. Let me know if it doesn't, and I'll try to assist you further:

[code]

This example will essentially cause eac

[2017-07-26 09:28] tlil commented on #55
@niklaskallander https://github.com/graphql-dotnet/conventions/releases/tag/v1.2.11

[2017-07-26 09:28] #55 closed

[2017-08-14 15:43] bentoo opened #58 "Performance Issues"
We are seeing extremely slow performance 2.3 seconds vs 200 ms for the same functionality with an extremely simple endpoint.

Has anyone else seen similar performance issues?

[2017-08-14 15:48] tlil commented on #58
Could you provide some more background please, @bentoo? I'm working on some improvements and are hoping to get an update out early next week; if I spot anything re your issue, I'll try get that in as well.

[2017-08-16 13:30] tlil commented on #53
@ordinaryorange I've pushed a commit with a `TypeRegistry` that allows you to manually register those implementation types: https://github.com/graphql-dotnet/conventions/pull/59/commits/bab6bc8bc87eb10e4c175f269531afef9bd346c9#diff-93a6989a8b2b230a36ecdcaafc5fb12dR11

[code]

Types in the same assembly will still auto-register.

Closing this; has pushed out version *1.2.14* to NuGet.

[2017-08-16 13:30] #53 closed

[2017-08-16 14:22] tlil commented on #57
Closing this; feel free to reopen if that didn't help.

[2017-08-16 14:22] #57 closed

[2017-08-17 09:34] huysentruitw commented on #58
@tlil Could this be because of the default field resolver change you did in #55 ?

[2017-08-17 09:58] tlil commented on #58
I don't know; possibly. That's been reverted now though. I've not seen any performance issues myself re this; so waiting for @bentoo to provide some more context :)

You seen anything your end @huysentruitw ?

[2017-08-17 10:45] huysentruitw commented on #58
No, I have tested a complex query which takes only 80ms in debug, latest version 1.3.0 and `FieldResolutionStrategy.Normal`, so let's wait :)

[2017-08-17 11:02] tlil commented on #58
Cool - thanks for confirming on your end. By the way, pushed out 1.3.1 here now with a fix for `Metrics` - it wasn't thread-safe before.

[2017-08-18 00:14] JJLost opened #64 "Dynamic Registration of IMutation<TInput,TOutput>"
Taking a look at the [GraphQL Relay Project ](https://github.com/graphql-dotnet/relay) i really liked the use of the [Mutation Payload](https://github.com/graphql-dotnet/relay#mutationpayloadgraphtypetsource-tout-mutationpayloadgraphtypetsource-mutationpayloadgraphtype)

I was looking through the project code looking for a way to easily register something like
`public interface IMutation<TInput,TO

[2017-08-18 11:00] tlil commented on #64
Hi @JJLost,

Did you take a look at [RelayMutationAttributeTests](https://github.com/graphql-dotnet/conventions/blob/master/test/Tests/Attributes/Execution/Relay/RelayMutationAttributeTests.cs) by any chance?

Also, I just pushed a new commit with an example; you can populate the array of `mutations` by filtering out `Assembly.GetTypes()` by types implementing `IMutation` :-)

https://github.com/g

[2017-08-18 22:28] JJLost commented on #64
I like the idea, but these IMutation<TInput,TOutput> classes are defined in legacy code, and it seems incorrect to me to alter each of those classes and add a dependency on the Conventions library.

That being said my initial idea was to create some kind of dynamically generated Field.  This [Gist](https://gist.github.com/JJLost/70882971821082fdb20c4cce56b62f4b) is a rough example of what i was th

[2017-08-21 10:10] tlil commented on #64
Yes, that's plausible. I think the easiest approach would be to:
 - For each `TMutation : IMutation<TInput, TOutput>` you find in legacy code
     - Get graph type for `TMutation`; call the result `MutationImpl`
     - Locate field `mutate` on generated type `MutationImpl` and rename as desired
     - Append derived field to your `schemaMutation`

That way you have `GetGraphType()` doing most of t

[2017-08-22 00:38] JJLost commented on #64
I think i got what you were talking about but possibly implemented it incorrectly.

 [Updated Gist](https://gist.github.com/JJLost/70882971821082fdb20c4cce56b62f4b) Does this look correct?

However i am having issues in the FieldResolver class on the GetSource  function where the context.Source and DependencyInjector and SchemaInfo are null and it fails there.

On a side note I also kept running i

[2017-08-22 14:25] bentoo commented on #58
The new GraphQL library's source in the Visual Studio 2017 format, so I failed to build it from source even after changing version in project files. This is why eventually I had to install the latest version of GraphQL Conventions 1.3.5 from NuGet.

Created a standalone .NET Core application running a Kestrel Server.

The project code is
[graphql-benchmarks-master-fa2e2a4c95bf53a62e1bc22f6c8f0afd7

[2017-08-23 19:48] baluubas opened #69 "How to "RegisterType""
Hi,

I want to build a schema with a interface type (InterfaceGraphType equivalent) without exposing the concrete types.

The "regular graphql-dotnet" describes hwo to accomplish this using RegistryType on the schema (see [getting started](http://graphql-dotnet.github.io/graphql-dotnet/getting-started) under RegisterType).

How would you go about doing this using conventions?

[2017-08-23 22:11] baluubas commented on #69
Nevermind. I had a abstract class as base and not a interface.

[2017-08-23 22:11] #69 closed

[2017-08-23 23:01] tlil commented on #69
:+1:

[2017-08-28 21:34] tecsined commented on #20
Hi @huysentruitw in v0.17.2 Guid is not working. I get this error:
[code]
Using this model and this query

[code]

[2017-08-29 14:48] tecsined opened #70 "Guid is not working for as property type for models used by graphql queries. v0.17.2"
Guid is not working for Ids in the models used by the queries

[code]

[2017-08-30 09:59] Brandejs commented on #20
Hi,

Today I came across the same problem. Were you able to solve it in any way?

[2017-08-30 14:46] huysentruitw commented on #70
Isn't that graphql-dotnet instead of graphql-conventions? If you want to use graphql-conventions, read the readme and check out the example (start [here](https://github.com/graphql-dotnet/conventions)).

[2017-08-30 14:48] huysentruitw commented on #20
That looks like graphql-dotnet, not graphql-conventions.

[2017-08-30 18:19] #70 closed

[2017-08-31 11:46] Msirkovsky opened #71 "Using InputObjectGraphType"
Hi,

first of all, thank you for your great library.
And I would like to ask, if I can use manual created graphQL type.

My example class:

[code]
If I want to use this class for input parameter I get this error:

[2017-09-01 08:39] baluubas opened #72 "Viewer without ImplementViewerAttribute"
Hi,

I think I might have stumbled upon a bug with interface resolution. The back story is this, I need an Id property on my "standard" relay viewer field. So I can't use ImplementsViewer(OperationType.Query) as QueryViewer types does not have that field. No worries, I can just create that myself. However, in doing so I seem to have broken the something with the Node field (also a relay convention

[2017-09-02 15:44] tlil commented on #71
Thanks!

You can't currently do that unless you use some boilerplate code similar to the following example:

https://github.com/graphql-dotnet/conventions/blob/master/test/Tests/Adapters/Engine/DynamicConstructionTests.cs

I would encourage you to use the library with the standard syntax instead of mixing manually constructed and derived GQL types, e.g.:

[code]

[2017-09-02 15:46] tlil commented on #20
Agreed. Looks like `graphql-dotnet` as @huysentruitw says.

[2017-09-07 03:48] #71 closed

[2017-09-22 05:03] amay opened #73 "null list input turns into [null] instead of null"
I'm running into some weird behavior when attempting to work with a list of inputs that I want to be able to be nullable.

If I send the following query:

[code]

With the query defined as:

[code]

I get the following return value:

[code]

But I'd expect to get:

[code]

However, I do get the expected result if I run the query without the variable:
[code]

I'm fairly new to GraphQL, so this coul

[2017-09-24 08:57] ahmadalli commented on #20
@tecsined  I'm facing the same issue. may I ask what is your `UserResultType`?

[2017-09-29 15:56] john-rubin opened #74 "FieldTypes of Interface children have a null ResolvedType after execution"
Greetings.

I have a problem that I can't find the cause of.  When converting my return types to interface types, away from concrete types, the return dictionary's values resolve to null, even after all operations complete, and all children are iterated through.

When going through the source, I found the cause to be that:
`
                resolveResult.Value =
                    await CompleteV

[2017-10-03 19:31] tlil commented on #73
Interesting – thanks for reporting – I will try to rebase off of latest `master` in [graphql-dotnet/graphql-dotnet](https://github.com/graphql-dotnet/graphql-dotnet) and see if that fixes it – I pulled in the `null` literal support from the work there before it made it to the official release, so might be a result of that.

And sorry for the late reply. I've been out for a month for my honeymoon.

[2017-10-03 19:34] tlil commented on #74
Hi John,

Sorry, I've been out for a month so didn't see your message until now.

That sounds weird. Could you provide some more context? Are all implementation classes of the interfaces in the same assembly that as the one you're running?

Could you provide a small sample project that demonstrates the problem so that I can take a look?

Cheers,
Tommy

[2017-10-03 19:37] tlil commented on #64
That's an incompatibility in earlier versions of GraphiQL: they don't support `null`-literals :-) Tried running a later version of GraphiQL?

[2017-10-03 19:39] tlil commented on #64
@JJLost Will take a look at the Gist in a few days – sorry, just got back from a 4-week trip, so just catching up on all my emails :-)

[2017-10-03 19:43] tlil commented on #58
Sorry for the late reply @bentoo – I've been out for a month and just catching up on my emails here now.

On a general note: Some performance penalties are expected as the resolution is dynamic, but I'm sure there are further improvements to be made. I've got some plans for a future fork of this library that will be more geared towards performance, but haven't had time to start on that yet.

In th

[2017-10-03 19:53] tlil commented on #72
Hi, and sorry for the late reply – been out for a month and just catching up on emails here now.

What's `id` if you add a breakpoint at https://github.com/baluubas/conventions/commit/2220ef88cf13d8d98e83c55da5e64db5160758ac#diff-5813df268429a1d149d203922f1f53e4R13? Also, do you get the object resolved if you step into `context.Get<T>()`? Can you also check what you get if you add `__typename` to

[2017-10-05 16:23] john-rubin commented on #74
Hi Tommy, no worries!

Yes, all implementations are in the same assembly.  I'll double check, and get back to you with an example.  Thanks for replying.

Kind Regards,
John

[2017-10-06 08:58] baluubas commented on #72
`id` is `Qm9vazox`.

`context.Get<T>()` returns instance of `Book`

Adding `__typename` yields this response

[code]

[2017-10-16 22:19] amay commented on #73
Hey @tlil, thanks for the response and congrats!

Any luck reproducing this issue?

[2017-10-20 22:44] adebisi-fa opened #75 "Auto ignore Fields with Void return types and types from unwanted namespaces."
Hello,

I ran into a use-case where fields with ```void``` return types needs to be auto-ignored, as they are not supported by ```RequestHandler.ProcessRequest(...)``` use-case (throws exception).

Similarly, although types from ```System.``` namespaces are auto-ignored during schema generation, it'll be very interesting if we are able to provide a **list/array** of other namespaces whose types sh

[2017-10-24 20:12] tlil commented on #73
Hey @amay - yes, I did. I found the issue here now. Will push a new version in a few minutes. Thanks for reporting!

[2017-10-24 20:17] #73 closed

[2017-10-24 20:22] tlil commented on #58
As improved performance will be something that is continuously worked on and in incremental steps, I will close out this issue. If you've identified specific performance bottlenecks however, feel free to raise an issue, or better still one or more PRs to improve/remove said bottlenecks

[2017-10-24 20:22] #58 closed

[2017-10-24 20:39] tlil commented on #75
Hi @adebisi-fa,

Thanks for raising this. I've fixed the problem with `void` return types in https://github.com/graphql-dotnet/conventions/pull/78. Sorry, I thought I'd fixed that earlier, but I obviously hadn't :-)

I will take a look at the PR that you raised for unwanted namespaces, and get back to you on that on the PR itself, so will close this issue so we only communicate in one place.

Chee

[2017-10-24 20:39] #75 closed

[2017-10-24 21:45] tlil commented on #64
Hi @JJLost, the reason why you're having that issue, is that you're not setting the `ResolvedType` and `Resolver` here:

https://gist.github.com/JJLost/70882971821082fdb20c4cce56b62f4b#file-dynamicmutationregistration-cs-L34-L35

For an example of how to do it, take a look at:

https://github.com/graphql-dotnet/conventions/blob/9932071d991049190f0f8c04d4a9805b7f622b58/test/Tests/Adapters/Engine/Dy

[2017-10-24 21:45] #64 closed

[2017-10-24 21:47] tlil commented on #74
Hi @john-rubin, did you get any further with this?

[2017-10-24 21:53] tlil commented on #72
Does the same happen if you create a separate query class `NodeQuery` like so:

[code]

and register it here:

https://github.com/graphql-dotnet/conventions/blob/9932071d991049190f0f8c04d4a9805b7f622b58/samples/SimpleWebApp/Startup.cs#L30-L34

with:

[code]

cc @baluubas

[2017-10-24 23:06] amay commented on #73
Thanks for the fix!

[2017-10-30 09:11] baluubas commented on #72
Startup with:
[code]

Returns
[code]

So that seems to have solve the problem.

[2017-11-12 18:10] tlil commented on #72
:+1: Okay, since that's the recommended way of doing this, I'll close this issue.

[2017-11-12 18:10] #72 closed

[2017-12-20 03:16] trbngr commented on #17
Is there an example of this working with DataLoader or anything else?

[2017-12-28 03:11] drobertson123 opened #80 "Using the Nuget Library with GraphQL 2.x.x alpha"
I am attempting to use the Conventions Library in a project that is based on GraphQL-dotnet. When I add your Nuget library it causes all kinds of conflicts with the namespaces.

Am I misunderstanding something? I had assumed this is an extension of the GraphQL library, should I be using it as a replacement instead?

How do I use your library?

Thanks for the help.

[2017-12-29 05:52] joemcbride commented on #80
It was originally an extension, though it now uses a fork of the core project (included in the source).  So I believe to use this lib you would need to only reference the Nuget for this project.

@tlil can talk to any plans to bring it back as an extension of the core library.

[2017-12-29 12:08] tlil commented on #80
As @joemcbride states above, the Conventions library currently has a bundled copy of the graphql-dotnet library with some tweaks that are not present in the upstream repo. So, to use Conventions, you'd have to remove the dependency on graphql-dotnet and use the bundled copy instead.

I'm aware that the bundled copy of the library is a bit behind `master` on [graphql-dotnet](https://github.com/grap

[2017-12-29 12:13] tlil commented on #17
@trbngr: Not a complete example yet AFAIK. I've got some updates coming soon and will try to include a complete example then.

@huysentruitw might have an example though...?

[2017-12-29 13:39] huysentruitw commented on #17
Yes, we're using this in combination with Autofac and my self-brew dataloader implementation [YADI](https://github.com/huysentruitw/yadi) which is also available on NuGet.

In short: a dataloader collects field-resolver requests and resolves them all at once in the FetchData method. This way you can combine f.e. 10 separate requests into one SQL query. I'll try to explain with a car/driver example

[2017-12-29 22:30] trbngr commented on #17
Thanks so much for detailed reply. I will jump back into this soon.

[2018-01-01 06:18] drobertson123 commented on #80
Thanks, that clears things up.  My vote would be an extension, but I can understand how they drift apart and splitting the source helps that.

I am really liking where graphql-dotnet is going. In fact, it is at the core of a major project we are working on. (happy to share on a more private channel)

One area that we are running into challenges is configuration. Our system has about 12 major proje

[2018-01-04 01:51] trbngr commented on #17
So it seems I need this to fire `AfterExecutionAsync` instead of `BeforeExecutionAsync` too.

[2018-01-04 06:47] huysentruitw commented on #17
Nope, that's a beginner mistake (I already PR'd that earlier, see above, but we had to revert that).

It is now fired on `BeforeExecutionAwaitedAsync`, which is AFTER calling Execute, but BEFORE the task returned by Execute is awaited. So this really is the correct place to start fetching.

As soon as you'd call await on the Execute task, the whole thing would dead-lock because the dataloader task

[2018-01-04 09:35] tlil commented on #17
Exactly – thanks for your detailed explanations @huysentruitw – I've been rather busy on my end recently.

[2018-01-04 17:46] trbngr commented on #17
I'm not around the project currently, so I can't post an example. But basically, `IDataLoaderContextProvider.FetchData` is being called before I even have a chance to queue a task in a `IDataLoader`. I'm having a hard time explaining. ;)

I just thought of a possible reason though....Does this fork of GQL-dotnet do something else than the official version? Because I have a package reference to the

[2018-01-04 18:19] huysentruitw commented on #17
That's because you have an other async/await call between the field and the dataloader, which doesn't work with my implementation. It might work with DataLoader for DotNet though. The Yadi implementation has a while loop that exits when there are no more task promises to resolve, so if you didn't queue one in the first run, you're out of luck. It works in our code because we know this limitation.

[2018-01-06 00:31] Igorbek commented on #80
I would also much more prefer it be an extension. Are any plans to move back towards the extension architecture? Should we create an issue to track progress/status on that?

[2018-01-15 19:27] drobertson123 commented on #80
FYI, I amazingly discovered that I didn't have the Allow Pre Release set for GraphQL.NET in Nuget. Feeling a bit stupid now. I am using the Version 2.0.0-alpha-820 and updating as the new ones come out.

On a side note unrelated to this project, it would be great if allow pre-release was capable of being set per library. I want the pre-release on GraphQL.net but I don't want every pre-release for

[2018-01-15 19:50] drobertson123 commented on #80
A general question for you. What would it take to decouple conventions from the GraphQL-dotnet code?

Was the conventions code intermingled with the graphql-dotnet code or is it fairly separate? Is there any way to tell what is what?

I am just curious to take a swing at migrating Conventions to the new version of graphql-dotnet and want to see if I am insane for even trying.

An alternative would

[2018-01-25 17:08] ronnyek opened #81 "GraphQL queries expected to be json?"
I just tried to start integrating this into one of my projects and I've noticed that queries I run in graphiql fail to run against my stuff.

It looks like at some point graphql conventions is attempting to parse query as json and failing. Looking at the examples, they all seem to also specify query in json format. It seems like this is both valid syntax and definitely not standard json.

[code]

[2018-01-25 17:12] ronnyek commented on #81
I attempted this with both requesthandler and just creating a new engine and executing with requestbody

[2018-01-26 10:11] tlil commented on #81
Correct - GraphQL takes a request in the form of a composite of query, variables and operation name. This payload is typically submitted as a JSON blob.

Take a look at: https://github.com/graphql-dotnet/conventions/blob/master/test/Tests/Web/RequestTests.cs

You can also create a `Request` from `QueryInput`. :-) Hope that helps.

[2018-02-14 14:50] huysentruitw commented on #35
@tlil do you still have the same thought about this?

We avoided optional parameters as much as possible since then, but really would like to start using them. My problem is that this code looks a bit crappy:

    public Model FieldA(bool? applyFilter = false)
        => service.GetA(applyFilter ?? false);

since you have to specify the default value twice. In my opinion this would be more readabl

[2018-02-18 11:46] bert2 commented on #80
I'm trying to use GraphQL.Conventions alongside Dapper.GraphQL, which depends on GraphQL. Due to the namespace conflicts that won't be possible, I guess.

Is there any chance for this package to go back to the old extension setup or will GraphQL definitely stay inside GraphQL.Conventions for good?

[2018-02-18 12:47] tlil commented on #80
Hi @bert2 - yes, it's on my todo list. Just haven't gotten to it yet, sorry. I hope to have some time next week to work on it. Shouldn't take much work to get it split out into a pure extension library, and that was always the plan anyway.

For reference, what version of the underlying GraphQL.net library are you using at the moment? Any requirements?

[2018-02-18 13:57] bert2 commented on #80
Hi @tlil , that sounds great! Thanks for the update!

I have no requirements regarding the GraphQL version. It's just that I'd like to use your library together with another library also built on top of GraphQL. However, due to the namespace conflicts I cannot use your library at the moment and installed GraphQL v0.17.3 again. But like I said: for me it's really not about the GraphQL version. I'm

[2018-02-18 16:20] tlil commented on #80
@drobertson123 @bert2 I've pushed a WIP branch: https://github.com/graphql-dotnet/conventions/tree/engine-update

There are a few things that need fixing in the graphql-dotnet library, so I've had to disable and ignore some tests for now. But was hoping you could take the branch for a spin and see if it works for what you're trying to do. Note, it's based on the _latest alpha_ release of @joemcbri

[2018-02-18 16:21] tlil commented on #80
cc @Igorbek ^

[2018-02-18 16:25] #81 closed

[2018-02-18 16:28] tlil commented on #17
@huysentruitw @trbngr FYI, I've started work on https://github.com/graphql-dotnet/conventions/issues/80 to pull out the embedded dependencies on graphql-dotnet and graphql-parser and make them NuGet dependencies instead. That will also allow you to use the latest version of graphql-dotnet (2.#.#, alpha, with different execution strategies).

[2018-02-18 16:35] tlil commented on #35
@huysentruitw Yeah, I see your point. It would require some re-work, but I can take a look at it and see what I can do. I think it makes sense, but a couple of questions just to make sure I understand your use case fully:

* Why wouldn't you just do something like:

[code]

    I.e., provide the default value only once. Is it because you want to have the default value presented in the documentatio

[2018-02-18 16:36] tlil commented on #74
Will close this - but feel free to re-open if you're still having issues.

[2018-02-18 16:36] #74 closed

[2018-02-19 08:32] huysentruitw commented on #35
@tlil yes, the default value should be in the documentation.

I'm not sure about the additional attribute, I would prefer to do it by-convention without attribute. If you're afraid of breaking anything, I don't think you need to because currently the API consumer needs to specify a value even though the back-end specified a default value.

[2018-02-19 09:06] tlil commented on #35
Hear hear - I will take a look and get back to you.

[2018-02-20 00:27] drobertson123 commented on #80
Thanks for that.  I will poke around and see how it goes.

[2018-02-26 21:18] infogulch opened #83 "Use Microsoft.Extensions.DependencyInjection"
ASP.NET Core has a published DI library that is similar to the one defined and implemented in this library.

https://www.nuget.org/packages/Microsoft.Extensions.DependencyInjection/

It might be worth importing it directly for better integration with the rest of the ecosystem.

[2018-03-01 19:56] infogulch opened #84 "Access resolution objects after .Execute()?"
Is there a way to access the query/output objects after the resolution and execution has completed?

I would like to have a mutation that has non-visible side effects, but apply it *after* Execute() has completed and the side effects have been evaluated.

To get a bit more concrete example, I'd like to have a `login` mutation that adds a cookie. E.g.

[code]
Then in my executor
[code]

I would pre

[2018-03-02 22:32] infogulch opened #85 "NonNull annotation for input types"
Is it strictly necessary for class fields that correspond to GraphQL Fields to be wrapped in `NonNull<>` to set `IsNullable = false`? I think it makes interacting with non nullable input fields more cumbersome than it needs to be.

Instead could this be an annotation on the field? This wouldn't affect normal usage of the field, and since GraphQL.Net checks the type when decoding the query this sho

[2018-03-13 15:44] PtwHub opened #87 "Conventions.Relay required or optional (practically)?"
Is this conventions handler made to (or intended to) be also used without Conventions.Relay? I am using an Apollo Client...

Any tips/pointers appreciated.

[2018-03-13 18:54] huysentruitw commented on #83
And what with non-ASP.NET Core users?

This shouldn't be an issue as it's easy to implement. F.e. our implementation to integrate with Autofac looks as simple as:

    internal sealed class Injector : IDependencyInjector
    {
        private readonly ILifetimeScope _scope;

        public Injector(ILifetimeScope scope)
        {
            _scope = scope;
        }

        public object Resolve

[2018-03-13 19:03] huysentruitw commented on #84
You're probably using ASP.NET Core, so I'm not sure how to do it there, but you could do something similar to what one would do with OWIN: use the CookieAuthentication middleware and resolve the `IOwinContext` in the field-resolver (by using `[Inject]`) and challenge the cookie authentication middleware by calling `owinContext.Authentication.Challenge(...)`.

If you don't want to use the existing

[2018-03-13 20:07] tlil commented on #87
What exactly are you trying to do, sorry?

There exist some types to help with Relay specific functionality, but most of this is just a thin layer on top anyway, so there's no reason why you can't go with your own solution as well.

https://github.com/graphql-dotnet/conventions/tree/master/test/Tests/Types/Relay

[2018-03-13 20:09] tlil commented on #83
To be honest, I'd rather keep the library "pure" and less opinionated about what DI library to use. As @huysentruitw points out, it shouldn't be much work plugging it in (and if for some reason it isn't, please do let me know so that I can check how it can be made easier). (Also, as @huysentruitw points out, integrating with ASP.NET Core is not the only way of using this library :))

[2018-03-13 20:22] tlil commented on #84
Ditto what @huysentruitw said.

If that's not an option for you, I can't see the issue with extending `IUserContext`?

By mocking or having a custom implementation of `IUserContext`, surely you can easily test for the side-effects in your unit tests? E.g., see how `userContext` is passed into `ProcessRequest`: [GraphQL.Conventions/Web/RequestHandler.cs#L233](https://github.com/graphql-dotnet/conve

[2018-03-13 20:23] tlil commented on #85
Closing this as it's superseded by your PR #86

[2018-03-13 20:23] #85 closed

[2018-03-14 08:07] PtwHub commented on #87
Thanks. I'm trying to hear from one of the developers if this is relay-coupled or not since the example and many tests use relay since I am not using relay (apollo2). OK, I'll check the sources some more.

[2018-03-14 08:07] #87 closed

[2018-03-14 08:12] tlil commented on #87
Okay, no worries. Let me know if any more questions come up. :)

[2018-03-21 05:41] infogulch commented on #83
This is a completely reasonable justification for not pulling in ASP.Net dependencies.

I ended up wrapping it almost identically for ASP.Net. Uncannily similar in fact, except the conversion from TypeInfo into Type.

[code]

I mostly wanted a discussion and that's what I got! So feel free to close the issue. :)

[2018-03-21 05:47] infogulch commented on #84
@huysentruitw that's an interesting idea that I'll have to explore more.

@tlil This is what I went with (it's the most straightforward) it just feels dirty to shuttle actionable data out *through* the IUserContext impl. By which I mean, no, I don't have any concrete reasons why this can't work. :P

Thanks for the feedback. :)

[2018-03-21 05:47] #84 closed

[2018-04-07 15:49] tlil commented on #83
:+1: Thanks – glad you got it working

[2018-04-07 15:49] #83 closed

[2018-04-15 12:15] tlil commented on #73
No probs. FYI @amay - long overdue, but I've now raised a PR against graphql-dotnet/graphql-dotnet as well to fix this in #82

[2018-04-16 12:14] rodolfotorres opened #88 "Battle test v1.4.0 in production environment"
## Description
As part of the role out of v1.4.0 we want to battle test on a production environment and see if any issues come up.

- [x] Add v1.4.0 to one of our clusters and run api tests
- [x] Deploy it to prod

[2018-04-19 12:20] rodolfotorres opened #89 "Support for subscriptions"
## Description
There were recent changes to `graphql-dotnet` to support subscriptions. With version 1.4.0 we can now build an example of how subscriptions work with conventions.

- [ ] Support for subscriptions
- [ ] Add an example for how subscriptions work

[2018-04-19 12:24] rodolfotorres opened #90 "Data loading API"
## Description
Data loading is a common requirement once you pass the basics. The goal is to define an `IDataLoader` and potential batching strategies that can be used to improve the performance.

- [ ] Create an IDataLoader
- [ ] Add an example of a data loader to the example project

[2018-04-19 18:45] tlil commented on #80
Closing this issue as it's now being handled in https://github.com/graphql-dotnet/conventions/pull/82. Close to merging, just need the latest release from [graphql-dotnet/graphql-dotnet](https://github.com/graphql-dotnet/graphql-dotnet)

[2018-04-19 18:45] #80 closed

[2018-04-19 18:46] tlil commented on #35
Hey @huysentruitw - sorry, this has completely slipped my mind. Will take a look.

[2018-04-22 07:18] tlil commented on #80
@drobertson123 FYI, 1.4.0 is released.

[2018-04-24 13:20] john-rubin opened #91 "Subscription Entrypoint"
Hello,

When querying on a Subscription, the Subscription entry point is never invoked, unlike Query/Mutation entry points.  Is this known behavior? (version 1.4.0)

Given a query:
`subscription testSubscription {
  testModel {
    id
  }
}`

And an entry point:
`
    [ImplementViewer(OperationType.Subscription)]
    public class Subscription
    {
		public Task<TestModel> TestModel()
		{
			retur

[2018-04-24 17:16] tlil commented on #91
Hi John,

The short answer is that with the subscription changes that were introduced in graphql-dotnet in February, the subscription part of the Conventions library is no longer 100% workable. Apologies for it not being in there already - I'll take an action to update that.

See for instance the tests introduced in the underlying engine for more info on how it is supposed to work: https://github.

[2018-04-26 07:11] jordisan opened #92 "Using conventions in .NET Core 2... any example?"
Hi... good idea, and good job!

I wonder if conventions are supposed to work in a .NET Core 2 project using MVC, like this one: https://github.com/JacekKosciesza/StarWars/tree/master/StarWars.Api

I mean... how would you add conventions to it? Thanks.

[2018-04-26 09:45] rodolfotorres commented on #92
I think I have an example of what you are looking for: https://github.com/rodolfotorres/graphql-api

[2018-04-26 09:46] rodolfotorres commented on #88
I tried to install v1.4.0 but is throwing an error ```Unable to find a version of 'GraphQL' that is compatible with 'GraphQL.Conventions 1.4.0 constraint: GraphQL (>= 2.0.0-alpha-887)'.```
What am I missing?

[2018-04-26 09:56] rodolfotorres commented on #88
_Update_: I was able to go around it by installing the pre-release version of `GraphQL` first. 🤔 do we know when the engine will go to release?

[2018-04-26 10:25] rodolfotorres commented on #88
There are 2 breaking changes
* `'ExecutionErrors' does not contain a constructor that takes 1 arguments`
* '`LegacyExecutionResult' does not contain a definition for 'Extra' and no extension method 'Extra' accepting a first argument of type 'LegacyExecutionResult'`

None are hard to solve but I thought it might be worth calling it out

[2018-04-26 10:50] rodolfotorres commented on #88
<img width="361" alt="screen shot 2018-04-26 at 11 49 39" src="https://user-images.githubusercontent.com/5260155/39301706-04b17446-4948-11e8-9568-466beb825f9e.png">

[2018-04-26 16:55] tlil commented on #88
@rodolfotorres :+1: Thanks for testing. If the 2 changes that you're mentioning are easy to fix your end, that'd be great. I'd prefer not to keep 'legacy' stuff in the library itself. The `LegacyExecutionResult`, IIRC, is a Hudl-specific class, and `Extra` is now essentially `Extensions` (aligned with the engine).

Regarding:

@joemcbride, any ETA for when v2 will be out (a non-alpha version)?

[2018-04-27 07:07] jordisan commented on #92
Thanks a lot, @rodolfotorres ... I'm trying to adapt that example to our code 😃

[2018-04-27 07:14] tlil commented on #92
Great - thanks @rodolfotorres. I'll close this ticket @jordisan, but feel free to reopen if you run into any problems.

[2018-04-27 07:14] #92 closed

[2018-04-27 07:26] jordisan opened #93 "Subclasses in queries returning error"
Hi;
when trying to query for a field which is returning a subclass of the declared class, I get an error similar to this:
"Expected value of type \"GraphQL.Conventions.Adapters.Types.OutputObjectGraphType`1[Superclass]\" but got: Subclass."

Is there any way to make it work? Thanks.

[2018-04-27 07:45] tlil commented on #93
Can you post a snippet of the type definitions please?

[2018-04-27 07:58] jordisan commented on #93
Let me try (we are trying to expose through GraphQL an existing library which is already quite complex).

This is the query class:
[code]
`_server.GetService(...)` doesn't return a `Service` object, but an object which is `HotelServiceAvail`, a subclass of `Service`; so, when I try to query like this:
[code]
I get that error `Expected value of type \"GraphQL.Conventions.Adapters.Types.OutputObject

[2018-04-30 05:25] Jefffrey opened #94 "Is there any kind of documentation?"
I'm trying to work with this library but I can't seem to find any documentation except for the brief README and some examples.

For example, how can I throw my own errors? How can I use this in a controller (the samples seem to use a middleware)?

[2018-05-01 11:14] rodolfotorres commented on #94
Hi @Jefffrey. For the controller you can check this https://github.com/graphql-dotnet/conventions/issues/92

[2018-05-02 04:58] tlil commented on #94
Hi,

Yes, documentation is on my TODO list but unfortunately not gotten around to that yet. Apologies. Let me know if Rodolfo's example helps. As for how to throw your own errors, you can simply throw an exception from any of the resolvers. I'll get back to you with more info later when I'm in front of a computer.

Cheers

[2018-05-03 14:59] rodolfotorres commented on #88
@tlil We released one of our services with v1.4.0. I will continue to monitor for the next couple of days but it's looking good so far

[2018-05-03 15:42] tlil commented on #88
Great, thanks @rodolfotorres

[2018-05-04 18:37] infogulch opened #95 "Inject on class constructor"
Would it be possible to use the DI to inject values into the class constructor of the main Query and Mutation classes?

[2018-05-16 17:42] infogulch commented on #95
Does this make sense? Or is this idea just silly to begin with?

[2018-05-16 17:48] tlil commented on #95
You already can, take a look at `DependencyInjectionTests.cs` in the `Tests` project. The `Query` class has a constructor that takes an `IRepository` as input. Is that not what you mean?

[2018-05-16 17:58] infogulch commented on #95
Oh! I tried it and it didn't seem to be working, but I must have done something wrong. I'll look again.

Thank you for the pointers, sorry for the noise!

[2018-05-16 17:59] tlil commented on #95
Perhaps you forgot to register the dependency injector? :) No problem

[2018-05-16 19:47] infogulch commented on #95
Ok so I just tried again and I'm running up against the same problem I did before.

I'm using EF for connecting to my database, and if I have the dbcontext injected directly into the method it works great, and it has been working great for several months, but that's rather tedious/redundant given that every resolver needs the dbcontext (hence the question).

But if I convert it to inject the dbcon

[2018-05-16 20:51] infogulch commented on #95
Ok so it looks like if I create a new engine on each request with: `GraphQLEngine.New([Func<Type, object>()])` it works fine.

So I guess my question becomes: what's the difference between the optional injector function on New(), and `.WithDependencyInjector()` on the engine builder, and why is there a difference?

And then I guess: In general, should I be using a singleton engine instance like th

[2018-05-18 00:33] infogulch opened #96 "Attribute phase between metadata & execution?"
I'm implementing custom authorization via an extended `ExecutionFilterAttributeBase` (like #22), and I found that Execution Filter is executed on each field resolution, even when this field and path has been executed before.

E.g. if I authorize on the person.name field, and a query with a list of people returns 3 entries, the attribute is called 3 times with paths `person.0.name`, `person.1.name`

[2018-05-22 17:56] tlil commented on #96
If you want to integrate with https://github.com/graphql-dotnet/authorization, you could use a meta-data attribute to populate the policy up-front and rely on graphql-dotnet/authorization to do the checking? There is no way of having the filter to only execute once per unique field at the moment unless you hand-roll field memoisation and keep track of what you've already checked yourself. Hope tha

[2018-05-23 00:56] GOVYANSONG opened #97 "Multiple mutations and nested mutation"
I am fairly new to graphql in general and convention packagein particular. Our environment is react GUI front and asp.net core web / web API server. Our plan is to use apollo client and graphql dotnet as query gateway. I would like to know if your package supports following feature over HTTP POST:

1. Multiple mutations in one http post request: I was using engine.withrequest() method. But I did n

[2018-05-23 03:07] infogulch commented on #96
At first look /authorization seemed to be a jackhammer when I wanted a staple. My user context has a simple array of permissions that I'd like to check against the permissions set on the resolver/field via attribute. Maybe my first look was mistaken, I'll look again. :)

But actually I had a second reason why I wanted this feature: If I had this I think I could graft a system to make Entity Framew

[2018-05-29 12:54] #88 closed

[2018-06-11 16:19] #97 closed

[2018-06-11 19:03] tlil commented on #97
Hi @GOVYANSONG, sorry I didn't respond to this sooner. Did you find what you were looking for?

(1) You can construct a mutation request with multiple mutation operations like this:

[code]

which will result in a response:

[code]

(2) Not supported, and not in the standard currently implemented by graphql-dotnet/graphql-dotnet and graphql-dotnet/conventions.

[2018-06-25 23:15] timpur opened #99 "How to use with graphql-dotnet/server"
Hi im wondering how i can use with https://github.com/graphql-dotnet/server

I believe all i need to do with some how create a Query:

How do i gererate a `IObjectGraphType`??

Should i be using `GraphTypeAdapter` ??

Wondering best how to connect the 2 libs :)

[code]

Thanks

[2018-06-26 12:51] BernMcCarty commented on #93
For what it is worth, I have exactly the same error and scenario and question as jordisan.  There should be some means of informing the framework about additional .NET types that come into the equation only via polymorphism; types that the system otherwise cannot even see merely by reflecting on my query type. Does such a mechanism exist?  If not, then I cannot expose a polymorphic object through

[2018-06-30 10:33] tlil commented on #96
I'll close this issue, but let me know if you ended up having further questions related to this.

[2018-06-30 10:33] #96 closed

[2018-07-07 09:00] hitaspdotnet commented on #95
Dear @infogulch you got the solution? I have same issue, can you share your customized engine please?

[2018-07-10 00:17] infogulch commented on #95
Sorry @hitaspdotnet, I haven't customized anything. My "solution" above was to create a new engine instance every time I want to use it instead of using a singleton that is preserved across requests. (When I said "new engine" in my previous comment I didn't mean a customized engine, I mean a new *object instance*. Sorry if my wording was confusing there.)

My previous comment should be enough info

[2018-07-10 08:48] hitaspdotnet commented on #95
@infogulch Sorry, My English isn't good and web translators not well for comments with codes.
Actually, I'm using [ABP Framework](https://github.com/aspnetboilerplate/aspnetboilerplate) in my application. It's a modular framework. I want to use GraphQL libraries to create GraphQL end point for each application module. I could do it by the main library but because my application has 31 module I'm l

[2018-07-27 06:09] infogulch opened #101 "Query batching"
Is there any plan for supporting [query batching](http://dev.apollodata.com/core/network.html#BatchingExplained)? It [appears to be supported](https://github.com/graphql-dotnet/graphql-dotnet/issues/398) by the graphql-dotnet package library, if just in principal by parsing them and [executing them individually](https://github.com/graphql-dotnet/relay/blob/master/src/GraphQL.Relay/Http/RequestExec

[2018-08-02 08:24] RehanSaeed commented on #99
Also wanted to ask if there are any limitations to using this library, over `graphql-dotnet/server` on it's own.

[2018-08-07 16:52] ronnyek opened #102 "Problems parsing ID's in sample webapp"
Greetings... I was just trying to get back up to date on the conventions project. I went ahead and started up the endpoint and connected graphiql and started issuing commands. Seems like things that require specifying ID's never want to parse no matter what you plugin and was hoping for a quick pointer to something I am doing wrong.

[code]

[2018-08-07 16:57] infogulch commented on #102
What's the code of your resolver? That's probably the most relevant part here.

Are you using the [GraphQL.Conventions Id struct](https://github.com/graphql-dotnet/conventions/blob/master/src/GraphQL.Conventions/Types/Id.cs)? It acts differently than just a string.

[2018-08-07 17:01] tlil commented on #102
Hi @ronnyek - the type `ID` is used for identifiers that are normally formed from the base64 encoded version of a string `"<TypeName>:<UnderlyingID>"`. So for an identifier of an author #1, it would be `base64("Author:1")`. You can read up on the matter here:
 - http://facebook.github.io/graphql/October2016/#sec-ID
 - https://facebook.github.io/relay/docs/en/graphql-server-specification.html#objec

[2018-08-07 22:26] infogulch commented on #102
Speaking for myself, I really like this convention. Besides cacheability, it means you can't accidentally use an id from the wrong source and it continues chugging along without blinking.

I also use integer ids, which can be tedious to extract from an `Id` type. So I made some extension methods to help alleviate that pain. I actually use all of these in a project that I'm currently working on:

[

[2018-08-07 22:42] ronnyek commented on #102
Oh I have no preference, was just confused about what it was looking for, I had example schemas I would connect graphiql and it was looking for int or something for an id. I think this is reasonable, and it answers my question

[2018-08-08 04:32] #102 closed

[2018-09-12 00:01] snys98 commented on #99
Also wondering why this repo seems so different from `graphql-dotnet`. Holy I JUST CAN'T FIND THE `ISchema`...

[2018-09-12 05:14] tlil commented on #99
@snys98 that comes across as rude and shallow, which makes me inclined not to answer your questions!

It's different because... well, guess what, it's different. It's trying to solve another problem, consequently in a different way. ...

[2018-09-12 05:18] tlil commented on #99
@timpur and @RehanSaeed - will check back in and reply to your questions a bit later. Sorry for the late reply.

[2018-09-13 21:49] timpur commented on #99
Thanks

[2018-10-01 12:10] rodolfotorres opened #104 "Update GraphQL library reference"
Conventions is using an alpha version of the GraphQL library. Since it's out of alpha and beta we could we update to v2.1.

[2018-10-03 19:59] huysentruitw commented on #35
Seems to be fixed, so closing for now :)

[2018-10-04 16:58] huysentruitw opened #107 "Licensing"
@tlil would you mind if I add a MIT license to this repository (with you as copyright owner of course).

Without license it's unclear how we can use this library, and because graphql-dotnet is also MIT, I thought the same license would fit here?

[2018-10-06 06:49] tlil commented on #107
Hey @huysentruitw, yes, that's fine by me. Fancy raising a PR?

[2018-10-06 11:34] #107 closed

[2018-10-08 17:51] tlil commented on #104
Yep yep - updated in #106 :+1:

[2018-10-08 17:51] #104 closed

[2018-10-08 18:00] tlil commented on #93
Take a look at `AddPossibleType()` in `GraphTypeInfo.cs` and `GetType()` in `ObjectReflector.cs`. You could try play around with those. At the moment, the library is only looking at interfaces and their available 'implementations'.

[2018-10-08 18:01] tlil commented on #93
I'll close this for now - but feel free to re-open if you are still struggling with this. In short, the library is expecting `Service` to be an interface, not a base class (to try to be consistent with GraphQL).

[2018-10-08 18:01] #93 closed

[2018-10-08 18:05] tlil commented on #101
..... sorry for the late response first of all!

Yes, you could just pre-parse it and execute for each operation X1 ... Xn :-) If you fancy submitting a PR, I'll take a look :+1:

[2018-10-08 18:05] #101 closed

[2018-10-08 18:10] tlil commented on #95
@infogulch could you try putting the DB context on the user context? E.g., in the object passed into:

[code]

Take a look at `samples/SimpleWebApp/UserContext.cs`. Let me know if that helps.

Will close this for now, but feel free to re-open if that doesn't resolve your issue. Thanks.

[2018-10-08 18:10] #95 closed

[2018-10-08 18:10] tlil commented on #91
I'll close this as a dup of #89

[2018-10-08 18:10] #91 closed

[2018-10-08 18:11] tlil commented on #90
How are you getting on with this one @rodolfotorres ?

[2018-10-08 18:11] tlil commented on #89
How are you getting on with this one @rodolfotorres ?

[2018-10-08 18:11] #94 closed

[2018-10-08 18:18] tlil commented on #99
@timpur To use subscriptions we'd need to get #89 done first, unfortunately.

As for your question about deriving a schema, you could use `GraphTypeAdapter.DeriveSchema`. More specifically, see how it's done in `test/Tests/Templates/ConstructionTestBase.cs`. Let me know if that helps. :-)

[2018-10-08 20:59] timpur commented on #99
Thanks ill have a look

[2018-10-12 20:44] huysentruitw commented on #90
I'm using the graphql-dotnet (no need to add the NuGet package as conventions depends on it) dataloader in combination with this library and it works flawless.

My graphql-conventions `UserContext` class looks like this:

[code]

DI registration looks like this:

[code]

And finally, using a dataloader as a field resolver:

[code]

For compound keys use the ValueTuple notation `()` (instead of `in

[2018-10-12 20:46] huysentruitw commented on #90
And for the record, we're using a API controller to handle the GraphQL endpoint instead of a middleware (easier to get DI work):

[code]

[2018-10-12 21:41] tlil commented on #90
Nice, @huysentruitw :+1:

[2018-10-12 21:41] #90 closed

[2018-11-24 17:10] TheAifam5 opened #111 "EnumerableExtensions.Map does not exists"
Hey,
In the following versions of GraphQL 2.2.0-2.3.0, the "Map" extension for IEnumerable does not exists anymore which throws an exception:
[code]

Affected line:
https://github.com/graphql-dotnet/conventions/blob/2a5397707d50e5aa006e04780d127e3db3b9f212/src/GraphQL.Conventions/Attributes/Execution/Unwrappers/CollectionUnwrapper.cs#L21

Commit from graphql-dotnet:
https://github.com/graphql-dotn

[2018-11-25 17:47] snys98 commented on #99
Sorry for my comment above, but I'm not mean to be _rude and shadow_. I use these upper case words to express my depress of spending many time with no result. Any way, thx for your efforts :) 👍 @tlil

And maybe this is how this lib work with `graphql/server` @timpur
[code]

And please note this is not the final best practice~

[2018-12-08 11:32] Jefffrey opened #112 "How to deal with NonNull"
Hello,
what's the proper way to deal with `NonNull<T>` not being `T`?
Let's assume that you have a resolver like:

[code]

what's the proper way to return `list`?

Do I have to add some boilerplate code like:

[code]

?

I've tried to look at both examples, but none of those seem to use `NonNull` for output types.

[2018-12-09 06:32] awarenet opened #113 "Injecting into query with graphql dotnet server"
Hi,

First up, great library, saves a lot of boilerplate.

I'm using the library on top of graphql-dotnet server to build my query, mutations and subs and then mounting them using the graphql dotnet server middleware.
I can successfully build the schema but am unable to inject my database client/context into the query or created 'fields' as I'm not using the conventions engine to run the query.

H

[2018-12-10 03:52] awarenet commented on #113
I figured it out.
You just override the SchemaConstructor's type resolution delegate to inject your services
[code]
Thanks

[2018-12-10 03:52] #113 closed

[2018-12-10 06:15] tlil commented on #113
Sorry, didn't see this until this morning. Glad you figured it out :-)

[2019-01-03 09:58] shoooe commented on #112
Maybe with C# 8 and .NET Core 3 the library could drop `NonNull` and just use C#'s `Nullable`.

[2019-01-03 11:07] djshres opened #114 "How to use?"
So we can directly query POCO's using this library?

[2019-01-03 17:15] Igorbek commented on #112
I was also wondering if C#8 nullability feature could be used instead.
The issue I see with that is changing the default behavior from interpreting a bare reference type from being nullable to being non-nullable.
However, switching from one behavior to another can be done same way as compiler do by examining the assembly if it has this feature turned on.

[2019-01-03 17:24] infogulch commented on #112
Some time ago I tried (and failed) to make a NonNull *Attribute*.  The problem is that you trust your resolver to return nonnull data, but the only way to communicate that result into the schema is to wrap the type in `NonNull<>`.  The idea was that you could mark it as non-null with an attribute for the purposes of communicating nullability in the schema, but not have to do anything different wit

[2019-01-03 22:16] shoooe commented on #112
That should have been the default for GraphQL as well. 😞

[2019-01-04 14:49] tlil commented on #114
You could use it for that as well yes. You can think of the Conventions library as being a wrapper that generates the GraphQL schema and required boilerplate code from an arbitrary class hierarchy.

[2019-01-04 14:49] #114 closed

[2019-01-08 22:58] john-rubin opened #115 "Unable to add custom scalar type - Maybe<T> for partial model updates."
Greetings!

I was attempting to utilize a custom `Maybe<T>` as a parameter on an input type, to easily check for set/unset parameters in a partial update, but I'm having some trouble, and though I've tried registering it as a custom scalar type, those registrations don't end up on the generated schema.

Is there some way to do this?  I see there are ways of adding custom type registrations in the

[2019-01-11 20:03] braudabaugh opened #116 "Add support for DateTimeGraphType to preserve Time in DateTime values"
This is a request to add support for the new DateTimeGraphType now available in graphql.dotnet.
Currently, DateTime and DateTimeOffset input variables are begin parsed by DateGraphType, which causes the time component to be lost.   The simplest implementation approach is to change the GetPrimitiveType method in GraphTypeAdapter to return DateTimeGraphType for TypeNames.Date instead of DateGraphTyp

[2019-01-11 20:07] braudabaugh commented on #116
Never mind, was looking at an older version.  I see it is supported now.  Yay!!!

[2019-01-11 20:07] #116 closed

[2019-01-13 12:06] tlil commented on #115
Hi @john-rubin,

Could you point me to a snippet of what you're trying to do, and I'll take a look?

Cheers

[2019-01-13 12:21] tlil commented on #112
Yes, unfortunately @shoooe, that's currently the way to go. I've been looking into simplified means of returning data of this structure, incl. using C# 8 nullables. There's a range of challenges with that, in particular around backward-compatibility. Give me some time to continue my current exploration, and I will get back to you.

[2019-01-16 07:58] awarenet commented on #91
Hi @tlil
Any update on when subs might be available in conventions?
Cheers

[2019-01-19 12:05] tlil commented on #91
@awarenet see https://github.com/graphql-dotnet/conventions/issues/89

Due to lack of responsiveness there, I was gonna pick it up in the next week or so. So hopefully not too long.

[2019-01-19 18:09] john-rubin commented on #115
Hey @tlil!  Sorry it took me a while to get back to you.

I was trying to make a convenient partial update for a model using a custom type.  I wanted to know when some properties are set, and when some are not, so I can perform updates to the properties that were set, and ignore those that were not.  This was necessary, because the model's primitive members are nullable.

The custom type I wanted

[2019-02-01 14:31] leddt opened #117 "Proper way to expose a Date-only field ?"
How can I have a date field on a type that would get serialized and de-serialized as date-only (yyyy-mm-dd)?

In graphql-dotnet there is the `DateGraphType` that I believe can be used for this purpose, but how can I make use of this in Conventions?

[2019-02-01 14:34] leddt commented on #117
The `GraphTypeAdapter` class appears to have considerations in place for `DateGraphType`, but I can't figure out how it's supposed to be used.

[2019-02-01 14:51] leddt commented on #117
After taking more time to understand the code, I've created this attribute:
[code]

And I defined my property like this:
[code]

It appears to work as intended. Is that a good way to achieve this?

[2019-02-01 17:10] infogulch commented on #101
So I had another look at this and the [Deserializer implementation](https://github.com/graphql-dotnet/relay/blob/master/src/GraphQL.Relay/Http/Deserializer.cs) in GraphQL.NET comes from GraphQL.Relay.  It basically tries to deserialize either a single json query object `{query: "...", variables: {}}` or an array of such objects.

Would you accept an implementation that adds a dependency on GraphQL

[2019-02-01 19:29] tlil commented on #117
That's one way of achieving it, yes. Otherwise, you'd need an explicitly named type, `Date`. This has slipped through - will add it to the to-do list and get something into the next version.

Along the lines of your solution, you could also consider creating a less generic attribute, say `[Date]`. :-)

[2019-02-01 19:30] tlil commented on #101
That'd be fine, yes, @infogulch.

BTW: I'm currently reworking some of the other bits, so will keep this in mind.

[2019-02-01 21:53] leddt commented on #117
Thanks. Indeed, I ended up creating a `DateOnly` attribute deriving from my `GraphTypeName`. Much cleaner that way!

[2019-02-04 11:00] huysentruitw opened #118 "Get CancellationToken in field resolver"
Is there a way to get the `CancellationToken` inside a field resolver method in our model? I would like to use it to cancel the underlying database query. The cancellation token is set on the executor using `WithCancellationToken`.

F.e:

[code]

The above doesn't work because it adds the token to the graphql scheme. Also `[Inject]` doesn't work because it is `null`. Any other ways I could try?

[2019-02-05 09:13] huysentruitw commented on #118
I think I've solved my own question, injecting `IResolutionContext` seems to give me access to the cancellationtoken.

[2019-02-05 09:13] #118 closed

[2019-02-07 08:27] huysentruitw opened #119 "Move error transformation to dedicated class"
Hi Tommy, we're playing with the idea to move the custom error transformations (see https://github.com/graphql-dotnet/conventions/blob/master/src/GraphQL.Conventions/Adapters/Engine/GraphQLEngine.cs#L288) to a separate class, which can be easily replaced by a new method called `WithErrorTransformation` or `WithErrorTransformer` f.e.

What would you think about that?

[2019-02-07 08:52] BilyachenkoOY opened #120 "Uneccessary execution error wrapping"
After rewriting my original solution using GraphQL.Conventions I fall into the issue that I can't handle errors as easily as before. For example, this code is not working anymore:
[code]

This is because of some two-lever errors wrapping which is made in [GraphQLEngine.cs#L289](https://github.com/graphql-dotnet/conventions/blob/master/src/GraphQL.Conventions/Adapters/Engine/GraphQLEngine.cs#L289).

[2019-02-07 08:59] huysentruitw commented on #120
Coincidence or not, I've just opened [this issue](https://github.com/graphql-dotnet/conventions/issues/119)  30 minutes ago 🙂

[2019-02-07 14:43] tlil commented on #119
Yes, that sounds great. Would gladly accept a PR for that. :-)

[2019-02-08 11:42] BilyachenkoOY opened #121 "Allow to set ExposeExceptions"
Hi.
Probably, it would be useful to add some method like `WithExposedExceptions(bool)` to allow configuring corresponding option (see [graphql-dotnet.github.io/docs/getting-started/errors](https://graphql-dotnet.github.io/docs/getting-started/errors)).
What do you think about this?

[2019-02-08 18:16] huysentruitw commented on #120
While writing the unit-tests for this PR https://github.com/graphql-dotnet/conventions/pull/122
I've figured that, without custom error transformation, the level of nesting is the same. So I'm not sure if it'll help anything?

[2019-02-10 11:26] tlil commented on #121
Sure, if you want, you could raise a PR against the repo? :-)

[2019-02-10 11:29] tlil commented on #120
@BilyachenkoOY can you comment on whether @huysentruitw PR helps you or not?

[2019-02-10 11:30] tlil commented on #119
Closing this since you've raised #122 - thanks

[2019-02-10 11:30] #119 closed

[2019-02-10 13:10] BilyachenkoOY commented on #120
@tlil, @huysentruitw I checked PR and it is fine for me, since my issue was about errors added with middleware and not about thrown exceptions. And now those errors are preserved as I'd expect.
As for thrown exceptions, now I'll be able to write own transformation to unwrap such errors.

So, thank you for this PR!

[2019-02-10 13:10] #120 closed

[2019-02-11 15:03] BilyachenkoOY opened #125 "Any way to add custom metadata?"
Hi again.

Is there any way I can add some metadata values  (like in [GraphQl-dotnet documentation]( https://graphql-dotnet.github.io/docs/getting-started/metadata) using attributes, so I can add custom validation via `IValidationRule` or middleware later during the query execution?

[2019-02-11 18:39] braudabaugh opened #126 "Injecting scoped dependencies"
Certain service objects, like database connections, need to have a lifetime of ServiceLifetime.Scoped so that sharing is limited to a single request.  In order to allow these types of objects to be dependency injected, a new, scoped, dependency injector needs created for each request.  Currently, the injector used to process GraphQL requests is specified when RequestHandler is constructed via the

[2019-02-11 19:17] braudabaugh opened #128 "Support for partial update mutations"
Partial updates are useful for allowing a single mutation function update only the fields provided in the input payload instead of arbitrarily setting the missing fields to null.  But in the current GraphQL Conventions framework there is no way to detect whether a given field was provided by the client.

The proposal is to add an Optional wrapper that can be applied to the input fields of partial

[2019-02-11 19:19] BilyachenkoOY commented on #126
Hello.
Correct me, if I'm wrong, but there should be no difference how and when the dependency injector is constructed if it doesn't holds service instances. For example if you have default Core `IServiceProvider`, it doesn't mean that new scoped/transient services will not be created on the next `GetService` call.

[2019-02-11 19:47] BilyachenkoOY commented on #128
Just for history: this looks like #115

[2019-02-11 19:57] braudabaugh commented on #126
The when is definitely different.  In order to use scoped objects, the injector must also be resolved by a scope created at request time.  The code below is basically what I'm using in my app's controller method that handles GraphQL requests. (note: _scopeFactory is an instance of IServiceScopeFactory)

[code]
If you try to use an injector that is not scoped, created by the default provider, to in

[2019-02-11 20:05] braudabaugh commented on #128
If I understand #115 correctly, this would require the client to send a Maybe<T> structure for every field.  My solution would definitely be more compact and have less coding burden on the client.

[2019-02-11 20:11] BilyachenkoOY commented on #126
You are right :)

[2019-02-11 22:30] Igorbek commented on #128
It seems that GraphQL has no notion of optional input type fields without connection to a default value.
See the grammar of InputValueDefinition: https://facebook.github.io/graphql/June2018/#InputValueDefinition

In order to make input value pass validation it must be defined as optional by adding a default value.

Having said this, if you want to treat `Optional<T>` as its underlying type `T` in

[2019-02-11 23:48] braudabaugh commented on #128
The partial update requests are able to pass validation because of the input coercion rules defined for input objects here:

https://facebook.github.io/graphql/June2018/#sec-Input-Objects

In this case, the fields have no default value and are not non-null.  They are therefor left out of the result map.  The Optional wrapper just provides a way to determine if a field is in the result map and does

[2019-02-12 00:35] Igorbek commented on #128
Ah, correct, I missed this part:

My bad.
So then I would suggest to make sure `Optional` is only applied to nullable fields as it is an error on non-null fields to be not specified.

[2019-02-12 07:39] BilyachenkoOY commented on #111
Hey @tlil, any news on this issue?

[2019-02-12 15:31] braudabaugh commented on #128
Good point.  Valid examples would include:

- Optional&lt;string&gt;
- Optional<int?>

Invalid examples would include:

- Optional&lt;NonNull&lt;string>>
- Optional&lt;int>

Do you have any suggestions on how best to implement this?  Unfortunately there's not a good way to produce a compile time error.  I was thinking of using the where restriction on the Optional class, but it is not flexible eno

[2019-02-12 17:36] braudabaugh commented on #128
Adding this static constructor to Optional provides a decent run-time check for usage of nullable types:
[code]
If all looks good I'll update my PR with the requested changes.

[2019-02-13 21:09] leddt commented on #117
I just realized that the attribute I came up with will modify the underlying `GraphTypeInfo` that is shared across all `DateTime` properties on my schema. This means that all `DateTime` properties are now exposed as `Date`, regardless of whether they have the `DateOnly` attribute or not.

So I changed my code to look like this:
[code]

It appears to be working as intended, but it feels really hack

[2019-02-13 21:12] tlil commented on #117
Yep, it's on my TODO list :)

[2019-02-16 03:01] xposure commented on #128
+1

[2019-02-16 07:50] tlil commented on #111
See @cphillips83's PR: https://github.com/graphql-dotnet/conventions/pull/130

Just merged :-)

[2019-02-16 07:50] #111 closed

[2019-02-16 07:55] tlil commented on #115
Closing as dup of #128. Will follow up there.

[2019-02-16 07:55] #115 closed

[2019-02-16 08:30] tlil commented on #128
PR #129

[2019-02-16 08:30] #128 closed

[2019-02-16 08:30] tlil commented on #126
Thanks for the PR - merged. Closing this issue.

[2019-02-16 08:30] #126 closed

[2019-02-16 08:31] tlil commented on #121
See PR - thanks! Closing :)

[2019-02-16 08:31] #121 closed

[2019-02-16 08:42] tlil commented on #125
Hey @BilyachenkoOY - could you provide a bit more context, please? Do you have a concrete example of what you're trying to do? I'll try to advise on what can be done / how to do it.

[2019-02-17 10:53] tlil opened #131 "Add API Documentation"
Add API documentation to all exposed API.

[2019-02-18 07:37] BilyachenkoOY commented on #125
Sure. Lets say we have a set of abilities (e.g. `CreateOrders`, `ApproveOrders`) and there are bunch of settings in admin. Depending on those settings any particular user can be granted to use any of this abilities (on none of them).
Now I wanna restrict access to some field in my schema depending on abilities, so I'd like to write something like this:
[code]
Now if my attributes will add those pa

[2019-02-18 07:43] tlil commented on #125
I wouldn't use a ValidationRule for something dynamic like that. That's exactly what I introduced ExecutionFilterAttributes for. Have you had a look at, for instance, https://github.com/graphql-dotnet/conventions/blob/master/src/GraphQL.Conventions/Extensions/ChaosAttribute.cs? Would you be able to achieve what you want with an ExecutionFilterAttribute, you think?

[2019-02-18 08:11] BilyachenkoOY commented on #125
Yes I saw it. It seems fine except the fact that throwing exception inside `ExecutionFilter`  doesn't stop parallel fields execution, only prevents current.  In the following dummy example I don't want `createOrder` be executed if login is failed:
[code]
But if you insist to use execution filter attributes we can adjust our logic, but it will be not elegant solution as with metadata and validation

[2019-02-22 09:09] BilyachenkoOY opened #132 "GraphQLEngine use TypeResolver instead of ITypeResolver"
There is `ITypeResolver` interface and it is used by `SchemaConstructor`. But `GraphQLEngine`  [use specific implementation type ](https://github.com/graphql-dotnet/conventions/blob/4a47da243ea7a4868a11b126f7021c16ba94bf3d/src/GraphQL.Conventions/Adapters/Engine/GraphQLEngine.cs#L26): `readonly TypeResolver _typeResolver = new TypeResolver();` and there are no virtual members in the default implem

[2019-02-27 05:41] tlil commented on #132
Ah, I see. Fancy raising a pull request? :-)

[2019-02-27 15:27] BilyachenkoOY commented on #132
OK, I'll create PR on few days.

[2019-02-28 08:40] ampersandd opened #133 "Support for scoped services being injected into schema types constructor"
For now it is possible to set own dependency injector for executor using [WithDependencyInjector](https://github.com/graphql-dotnet/conventions/blob/master/src/GraphQL.Conventions/Adapters/Engine/GraphQLExecutor.cs#L90) method. Then using `InjectAttribute` for parameters of Query methods we can inject scoped services using provided dependency container.
But what if we need to share scoped services

[2019-03-05 10:59] dmg-hamann opened #137 "GraphTypeAdapter constructs output for derived instances"
I came across a problem where I am using the lazy loading of the entity framework. The entity framework creates proxy classes for lazy loaded properties. Within ConstructOutputType it causes an issue because the derived proxy instance is not recognized as type.

It creates following error message:

`\"GraphQL.Conventions.Adapters.Types.OutputObjectGraphType1[mytype]\" for \"myressource\" but got:

[2019-03-07 08:10] tlil commented on #137
Thanks - closing the issue since you already raised a PR for it :) Much appreciated

[2019-03-07 08:10] #137 closed

[2019-03-07 16:23] MaximS opened #140 "How to use c# extensions just merged?"
I've added something like this (DataLoaderWithEFCore sample):

[code]

but this new property does not appear in the scheme.

Should I enable the extension explicitly somewhere?

[2019-03-07 16:24] tlil commented on #140
Yep, did you do `.WithQueryExtensions(typeof(MovieExt))` ?
See https://github.com/graphql-dotnet/conventions/pull/136 for an example.

[2019-03-08 11:29] dmg-hamann commented on #89
I actually tried to add subscription support. It works with the GraphQL.Server package. I added an example solution where it is possible to play around on the graphql.playground.

Do you (@tlil ) think this goes in the right direction?
[Branch](https://github.com/dmg-hamann/conventions/tree/subs)

The following points I dislike about my current solution:

- I did not integrate setting the websocke

[2019-03-08 12:04] #140 closed

[2019-03-08 21:45] tlil commented on #89
Ah, awesome! Let me have a look over the weekend, @dmg-hamann. Will get back to you.

[2019-03-09 14:36] MaximS opened #141 "C# extensions missing from GraphQLEngine"
There is no way to add c# extensions to `GraphQLEngine` (Adapters/Engine/GraphQLEngine.cs) like it's possible for `RequestHandler` using `WithQueryExtensions`.

Please consider updating DataLoaderWithEfCore to use an extension. For example like this:

[code]

and

[code]

Simple adding

        public GraphQLEngine WithQueryExtensions(System.Type typeExtensions)
        {
            _typeResolver

[2019-03-10 15:36] MaximS commented on #141
Actually another `.WithQueryExtensions(typeof(MovieExt))` is required in Startup.css:

[code]

Please, add ` public GraphQLEngine WithQueryExtensions(System.Type typeExtensions)` to `Adapters/Engine/GraphQLEngine.cs` and may be update the docs and the `DataLoaderWithEfCore` demo.

[2019-03-10 15:38] tlil commented on #141
Feel free to raise a PR with the proposed changes. ;-)

[2019-03-12 08:21] tlil commented on #141
Fixed in 2.0.4

[2019-03-12 08:21] #141 closed

[2019-03-12 08:23] tlil commented on #132
Fixed in 2.0.3

[2019-03-12 08:23] #132 closed

[2019-03-12 08:44] tlil commented on #89
@dmg-hamann - looks great! Thanks for doing that. Want to raise a PR? I'd love to get this into the main repo :-)

As for the two points that you're raising:

I think that is fine as a first step. If you raise a PR, I'll get it in, and then I'll do a follow-up PR where I can look at getting that sorted as well. I've got a few other improvements lined up anyway, some general tidy up, etc., so this

[2019-03-12 09:05] dmg-hamann commented on #89
@tlil Cool I am glad that it works out for you. I add some unittests today or tomorrow and raise a pr afterwards.

[2019-03-12 09:22] tlil commented on #89
Great, thanks!

[2019-03-12 10:13] strpipe opened #142 "Method not found on Mutation"
Hi,

I have trouble getting mutations to work.
This is my mutation:
[code]
It is registed on the RequestHandler and shows up in the shema, however, when I wan to execute the mutation with this query:
[code]
I end up with this error:
[code]

Am I missing something obvious? Thank you.

[2019-03-12 10:21] tlil commented on #142
What does `ProgramType` look like?

[2019-03-12 10:40] strpipe commented on #142
Thank you, the ProgramType looks like this:

[code]

[2019-03-12 10:46] strpipe commented on #142
I have found queries also not to work anymore. It seems to be an issue with the data type.

[2019-03-12 10:48] tlil commented on #142
Can you push a branch with a reproducible sample?

[2019-03-12 10:51] dmg-hamann commented on #142
`     public ProgramType CreateProgram()
     {
          return new PogramType();
      }`

There you call a parameterless constructor but your ProgramType needs a Program as a parameter otherwise this will be null and it can't return a name. Maybe that is the issue.

[2019-03-12 10:58] strpipe commented on #142
No, I am sorry. I even modified the snippets to not leak some details, which might even have removed important details that might cause the problems.

All my queries do not work anymore and currently have not tested the endpoint. I will look into this. Thank you for your answers.

[2019-03-12 10:58] #142 closed

[2019-03-12 10:59] BilyachenkoOY commented on #142
@strpipe
The exception message looks like in #111 . What versions of GraphQL and GraphQL.Conventions are installed?

[2019-03-12 11:10] strpipe commented on #142
Thank you @BilyachenkoOY
GraphQL v2.4.0 and GrapihQL.Conventions 2.0.1 are installed.

[2019-03-12 11:51] strpipe commented on #142
Thank you for helping out, updating GraphQL.Conventions to 2.0.4 solved the problem.

[2019-03-12 11:52] tlil commented on #142
Ah, cool :-) Glad to hear

[2019-03-12 19:06] tlil commented on #89
Closing as tracked by PR #143

[2019-03-12 19:06] #89 closed

[2019-03-15 00:22] SimonCropp commented on #131
@tlil before doing this, IMO we should go through all the public types+members to see if any can be made internal. easier to reduce the surface area prior to documenting it.

[2019-03-15 00:28] SimonCropp opened #152 "Add a runnable sample"
it would be nice to have a sample project in the solution that is runnable.

perhaps based on https://github.com/graphql-dotnet/graphql-dotnet/tree/master/src/GraphQL.StarWars

happy to attempt a PR if this is something u think is valuable

[2019-03-15 00:34] SimonCropp opened #153 "Multi enumeration bugs"
there are several places where enumeable are enumerated multiple time. eg:

            if (listeners != null && listeners.Any())
            {
                foreach (var listener in listeners)
                    configuration.Listeners.Add(listener);
            }

this can result in results being lost if the enumeable  works in a "once only" way.

let me know if u want a PR that fixes them

[2019-03-15 05:36] tlil commented on #152
Are you not able to run any of these?

https://github.com/graphql-dotnet/conventions/tree/master/samples

Feel free to raise a PR with another sample if you feel that is needed though. :-)

[2019-03-15 05:41] tlil commented on #131
Yep, that's the plan @SimonCropp

[2019-03-16 05:18] SimonCropp commented on #152
sigh. dont know how i missed that. so sorry

[2019-03-16 05:18] #152 closed

[2019-03-21 09:05] BilyachenkoOY opened #154 "Double Schema initialization"
Currently making `GraphQLEngine` singleton doesn't guarantee that Schema will not be initialized twice and this leads to strange resolvers duplication in tracing info.
Steps to reproduce:
1. Create and initialize singleton engine (you can even call `BuildSchema`)
2. Create several executors (e.g. first page is loaded and creates multiple requests to GraphQL API) and execute queries in parallel wit

[2019-04-10 10:46] dmg-hamann commented on #133
I guess it is not possible at the moment.  The source is taken of the GraphQL.Dotnet infos this library gets. Maybe it would be possible to hand in an custom FieldResolver with some modifications.

The logic which that implementation would need to adjust is the method ` private object GetSource(GraphFieldInfo fieldInfo, IResolutionContext context)` in FieldResolver. It could always trigger `source

[2019-04-10 11:32] dmg-hamann commented on #133
I guess it is even way easier and without any code change.  The constructor of GraphQLEngine accepts a delegate for type resolution.  Just add a delegate like (type) => IoCContainer.Resolve(type) .

It worked for me in a very small test.  Maybe it solves your issue.

[2019-04-26 06:37] BilyachenkoOY commented on #133
@dmg-hamann, in you solution `IoCContainer` should be singleton/static instance, which do not allow usage of scoped (per request or manually created scopes) or child containers without hacks (e.g. marking with ` [ThreadStatic]` which will not cover all use cases)

[2019-04-26 06:43] dmg-hamann commented on #133
Anything else which is resolved by the container can be scoped. I dont know how an asp service or prims currently works but at some point you register your dependencies at the container. Isn't the container always a singleton? Or where are the dependencies store?

[2019-04-29 14:20] strpipe opened #155 "When to use GraphQL Engine over RequestHandler?"
Hello,

how do I choose between these two? Do these two classes solve different problems? It seems that the request handler cannot suppress stack traces, so I will probably have to take the former.

Thank you.

[2019-04-30 06:59] BilyachenkoOY commented on #133
Yes the container (dependencies storage) is singleton. But some services are scoped which means they will be created only inside scope (create manually or by ASP.NET per HTTP request) and they can be recreated inside another scope.
[code]

[2019-05-06 09:53] hnviradiya opened #156 "Upload and Download files"
there are some solutions given for graphql .net but I am unable to make it work to upload and download files using conventions.

Can there be an example of this if possible (using conventions)

[2019-05-08 13:11] johannroth opened #157 "SchemaPrinter customization"
Hello,

I currently have the problem, that printing the schema via GraphQLEngine.Describe() includes GUID as type in fields but misses the definition of the scalar GUID. This clashes with graphql client libraries (JavaScript) that I am using (we use the more readable printed schema instead of introspection partly to simplify tracking changes in schema).

The GraphQLEngine manually removes custome

[2019-05-09 19:01] huysentruitw opened #158 "Allow internal methods"
I'm currently stuck on something I'm trying to solve and the only thing I can think of that we'd have to modify the `ObjectReflector` so it also finds internal methods. Let me try to explain the situation:

We are creating a pluggable component packed in a NuGet package. The component exposes a public `MyComponentQuery` and `MyComponentMutation` class. In the host, we can simply plug these two cla

[2019-05-10 04:08] tlil commented on #158
Hmm, I see. Have you tried to re-jig it using a data loader and delegating registration of each ID-to-object mapping for type `T` to the respective assembly?

E.g., something like this:

[code]

You could then skip the dependency injection in the GraphQL object / resolve, and do something like (excuse me for the use of pseudo code, but hopefully you get the gist):

[code]

[2019-05-10 07:00] huysentruitw commented on #158
Thanks for your response Tommy.

I'm not sure if I understand what you're trying to do there. I'm currently not using `DataLoader` yet in this setup. What do you see inside `RegisterDataLoaderMapping` and can you be more specific about that `Get` implementation?

[2019-05-31 09:16] BilyachenkoOY commented on #156
As far as I know, files are out of GraphQL specification and should be implemented next to GraphQL handler. We came up with the following solution:
- Create middleware to serve files by URL (you can use filepath, filename, ID etc.) and return those URLs from GraphQL queries
- As for upload, we add files into HTTP headers (like in multipart/form-data) and only passing their names (paths/IDs) as mut

[2019-05-31 09:27] BilyachenkoOY commented on #112
We've came up with `NonNull` and `NonNullItem` attributes which can be used in the following way:
[code]
The same can be used for arguments (you should "enable" execution filters on arguments previously and set own wrappers to ExecutionFilterAttributeHandler.Wrapper by reflection).

[2019-05-31 12:06] BilyachenkoOY commented on #133
Hmm...  I was going to try to fix this. But I've just rechecked the issue and found that `typeResolutionDelegate` is not invoked when `IDependencyInjector` is specified for executor.

[2019-05-31 12:28] sungam3r commented on #133
Also see graphql-dotnet/graphql-dotnet#1151

[2019-05-31 18:51] hnviradiya commented on #156
Great. Thanks.

[2019-05-31 18:51] #156 closed

[2019-06-03 09:16] BilyachenkoOY opened #159 "Support custom directives"
It would be nice to add support of custom directives, since currently it is only available via reflection to get `_schema` from `GraphQLEngine` and invoke `RegisterDirective` passing `DirectiveGraphType`.
There are few ways:

- Add public getter to access `_schema`, so that any custom operation wich is possible in  _graphql-dotnet_ will be possible with _graphql-dotnet conventions_
  - this is the

[2019-06-07 15:31] shoe-diamente commented on #112
Any news? I'd be happy to help.

[2019-06-18 12:51] vladyslav-didkivskyi commented on #125
Hi,

The same question.
I working on admin part of a website where queries and mutations mustn't be usable for guests.
I use middleware to disable all requests from anonymous users but I need a few queries and mutations on the login page for which I would like to use my custom `[AllowAnonymous]` attribute to mark classes and methods with it.

But I don't see the way how to get the metadata in midd

[2019-06-20 07:39] shoe-diamente opened #160 "Custom scalars"
I'm trying to map input types to `NodaTime` types (such as `LocalDate` and `Instant`) to receive them both as input and be able to display them.

The package `GraphQL.NodaTime` shows one way to accomplish this with the original `GraphQL` .NET library.

Is there any way to define custom scalars?

[2019-06-20 10:17] shoe-diamente commented on #160
For future reference you can just use `RegisterScalarType` on the new `GraphQLEngine`:

[code]

[2019-06-20 10:17] #160 closed

[2019-06-21 14:59] shoooe commented on #112
I was experimenting with the idea of adding support for nullable reference types while maintaining backward compatibility and I stumbled upon this:

https://stackoverflow.com/questions/56705694/how-to-detect-whether-a-type-can-be-nullable-at-runtime?noredirect=1#comment99974918_56705694

Basically nullable reference types are implemented via attributes, not with data encoded in the type itself. So

[2019-06-22 09:54] shoooe commented on #112
Apparently this issue is blocked by:
http://github.com/dotnet/corefx/issues/38087

Once that's implemented I'll work on the non null issue myself if nobody is against it.

[2019-06-23 06:16] tlil commented on #112
Yes, you are right. You'd have to look at the field info.

That'd be great, thanks!

[2019-06-23 19:22] Igorbek commented on #112
I actually think it's not a blocker at all. I experimented with non-null introspection and found it was very easy to analyse manually by expecting the attribute. It is very well documented and the new API is just a new convenient way to inspect then.

The hardest part for adopting it in the conventions library is to deal the way how types are mapped. Everywhere through the codebase the primary bea

[2019-06-24 07:27] shoe-diamente commented on #112
I couldn't find anything. Could you link to the documentation please? Maybe I missed something.

[2019-06-24 18:23] Igorbek commented on #112
I probably was under wrong impression that it was well documented :)
Here's what I used, an official spec and a couple of blog posts:
- https://github.com/dotnet/roslyn/blob/master/docs/features/nullable-metadata.md
- https://codeblog.jonskeet.uk/2019/02/10/nullableattribute-and-c-8/
- http://code.fitness/post/2019/02/nullableattribute.html

When I played with it, it was quite easy to extract null

[2019-06-25 10:24] shoe-diamente opened #161 "Must be a reference type (NonNull<T>)"
Is it possible to specify a `NonNull<Id>` in some way? If I try `NonNull<Id>` or `NonNull<int>` it throws:

[2019-06-25 12:17] shoe-diamente opened #162 "Alias concurrency issue"
It appears that in a query like:

[code]

where the field is defined as:

[code]

the same `DbContext` instance is injected in. Even though `DbContext` has a transient lifetime.
I would expect `DbContext` to be injected twice: once for each alias call.

Is this intended behaviour?

[2019-06-25 17:06] tlil commented on #161
`Id` is a struct, thus a non-nullable type. No need to wrap it. To make it nullable, use `Id?`.

[2019-06-25 17:06] #161 closed

[2019-06-26 07:00] shoe-diamente commented on #161
I'm dumb. Sorry.

[2019-07-01 12:38] aeyaey opened #163 "mix use of conventions and graphtype first approach"
We use the classic graph-type first schema approach in our graphql-dotnet implementation until now. I like the concept of attribute based markup schema generation of conventions, but can't figure out how to mix the two approaches in one setup. Is it possible and what is the limitations?

[2019-07-03 16:55] shoooe commented on #112
These days I don't have much time. Maybe next month.

[2019-07-09 08:59] shoe-diamente opened #164 "Template/Generic types"
Sometimes it's useful to be able to define something like `Type<OtherType>` and use it as a GraphQL type. The GraphQL specification doesn't allow templated types, but with the original `graphql-dotnet` library you can use something like:

[code]

to achieve the expected effect of having `Type<OtherType>` and `Type<SomeOtherType>` be `OtherTypeType` and `SomeOtherTypeType` respectively.

With `grap

[2019-07-25 13:17] shoe-diamente commented on #112
I was trying to add a new property to every `GraphEntityInfo` (found in `src/GraphQL.Conventions/Types/Descriptors/GraphEntityInfo.cs`) which would tell if the entity info is nullable or not.

Now, there you get a `ICustomAttributeProvider`, which seems perfect for the problem. Except that `attributeProvider.GetCustomAttributes` would require a type, but `NullableAttribute` is not ever in scope. I

[2019-07-29 20:40] Igorbek commented on #112
@shoe-diamente `NullableAttribute` definitely exists if you compiled a C#8 program with `#nullable`. This is the way how the compiler injects that information.

I can create a simple gist later this week on how to use it. Sorry, cannot do this today or tomorrow.   Meanwhile, make sure you compile C# 8 with nullable reference types enabled.

[2019-07-29 21:54] shoooe commented on #112
@Igorbek I can't compile the entire project with nullable references because the library has to also maintain the 90% of other tests for C# 7-.

By using the `#nullable` code block flag I still wasn't able to access the `NullableAttribute`.
I hope your gist will help me understand.

[2019-07-31 12:25] shoe-diamente commented on #112
Even compiling the entire project with `<Nullable>enable</Nullable>` (which works as I get a bunch of errors regarding nullable reference types) doesn't seem to allow me to get a hand on `NullableAttribute`:

Even though I import:

[code]

and then call it as:

[code]

[2019-08-01 07:26] shoe-diamente commented on #112
Under "What’s going on under the hood?" of [this article](http://code.fitness/post/2019/02/nullableattribute.html) you provided it appears that:

I'm attempting to use [Namotion.Reflection](https://github.com/RicoSuter/Namotion.Reflection).

[2019-08-07 03:24] Igorbek commented on #112
It looks like they changed the way the attribute gets injected since I experimented with it last time.
Before, it was a type defined in "compiler services" assembly (don't remember its exact name).
Now they just **embed** a new type with full name `System.Runtime.CompilerServices.NullableAttribute` into the assembly. That means, they technically different types, although all have the same full nam

[2019-08-09 10:49] K-Pavlov opened #165 "GraphQLEngine - make _documentExecutor passable through the constructor"
Currently the IDocumentExecuter in GrapQLEngine is readonly field which is set to a concrete type:
`private readonly IDocumentExecuter _documentExecutor = new GraphQL.DocumentExecuter();`
This is not ideal as DocumentExecuter gives up the ability to control the IExecutionStrategy:
`protected virtual IExecutionStrategy SelectExecutionStrategy(ExecutionContext context)`
which is currently not possib

[2019-08-09 11:39] tlil commented on #165
👍 Merged. Thanks!

[2019-08-09 11:39] #165 closed

[2019-08-10 09:58] batesm opened #168 "How to ignore or exclude CLR type properties"
Great work on this project! I have a question though and hope you can help?

When resolving a graph type from a CLR type what is the correct approach to filtering out certain properties so that they are ignored or excluded from the resolved graph type and do not appear as fields?

Thank you.

[2019-08-10 10:43] tlil commented on #168
Hey, thanks!

Have you taken a look at https://github.com/graphql-dotnet/conventions/blob/2a5397707d50e5aa006e04780d127e3db3b9f212/test/Tests/Attributes/MetaData/IgnoreAttributeTests.cs? I believe that's what you're after?

[2019-08-10 14:34] batesm commented on #168
Thanks for this. However, I realise I should have been clearer in my original question.

In my case I would like to avoid decorating the member with the attribute declaratively. I would like to achieve the same thing but leaving the POCO unblemished. Is there a way to associate the attribute with the member in some other way. An example would be intercepting the type resolver or metadata handler s

[2019-08-19 08:20] shoe-diamente commented on #112
Reasonably I don't have time to work on this unfortunately for the next few months.
I was evaluating a possible use of this library but I think I'll ultimately decide against.

This is were I stopped: https://github.com/shoe-diamente/conventions.

I'd recommend using Namotion.Reflection. There's a contextual type type which should replace `Type` in a few places.

[2019-09-06 17:29] cs-util opened #170 "Problem with default ObjectReflector behaviour"
I have a problem with the schema generation based on my classes:

Let's say I have an external interface I have no control over, named `SomeExternalInterface`
And I have a class `MyClass1` that I want to use in the Schema that implements this `SomeExternalInterface`.
Since I cant add the `[Ignore]` annotation to the external `SomeExternalInterface` the complete scheme generation breaks if e.g. a `

[2019-09-09 07:04] tlil commented on #170
Closing since this is now tracked in #171  - ta

[2019-09-09 07:04] #170 closed

[2019-09-13 13:17] K-Pavlov opened #172 "Add decimal support"
Currently decimals as registered as floats (C# doubles) which leads to an exception when they are used. There is an existing DecimalGraphType from GraphQL.net which should be used for decimals

[2019-09-13 19:14] tlil commented on #172
To be tracked in #173 - thanks for raising the PR.

[2019-09-13 19:14] #172 closed

[2019-09-17 10:56] BilyachenkoOY commented on #168
@batesm Have you looked at `IDefaultAttribute`? It will execute your custom attribute in every type/ member. And there you can apply any custom logic to filter your fields and set `GraphEntityInfo.IsIgnored`.

[2019-09-17 10:56] #125 closed

[2019-09-17 10:56] BilyachenkoOY commented on #125
Not relevant for me anymore

[2019-09-17 18:45] tlil commented on #168
Yep, as @BilyachenkoOY says, @batesm, and for an example: [NameAttribute.cs](https://github.com/graphql-dotnet/conventions/blob/2a5397707d50e5aa006e04780d127e3db3b9f212/src/GraphQL.Conventions/Attributes/MetaData/NameAttribute.cs)

[2019-09-17 18:59] batesm commented on #168
Thanks both. Some time ago I did code up a IDefaultAttribute implementation as you describe but it did not appear to influence the IsIgnored property. It turns out that I had a field returning type Task< Customer > which clashed with a separate type Customer. IsIgnored = true was applied on one GraphTypeInfo but not on the other. The resultant schema has the property included rather than ignored.

[2019-09-19 08:53] BilyachenkoOY commented on #168
You can also pass own TypeResolver to the engine and use `TypeResolver.IgnoreTypesFromNamespacesStartingWith` or check #171.

[2019-09-20 11:28] BilyachenkoOY opened #175 "Any release insights?"
I'm wondering if/ when you are going to release (publish into NuGet) the new versions? 'cause I'd like to use recent improvements and fixes (ideally including pending PRs).

[2019-09-23 11:33] BilyachenkoOY commented on #164
I used the following approach
[code]

[2019-09-24 13:55] shoe-diamente opened #176 "Is it possible to throw multiple errors?"
The GraphQL spec allows for multiple errors at any given node. How can I throw/return multiple errors?

[2019-09-24 22:01] tlil commented on #175
Yep. Hoping to get to that this upcoming weekend. Apologies for the delay.

[2019-09-24 22:11] tlil commented on #176
Yes, each resolver can fail separately, and each error will be collated in the `errors` collection as part of the response. E.g., if you have a request for `{ foo bar }` and the resolvers for both `foo` and `bar` throw an exception, the response would be something like `{ "data": {"foo":null,"bar":null}, "errors": [ <error-for-foo>, <error-for-bar> ] }`

[2019-09-25 07:09] shoe-diamente commented on #176
I'm therefore inferring that multiple errors per node (e.g. 3 errors on the `foo` node) is not possible nor recommended?

[2019-09-25 07:20] tlil commented on #176
Not seen an example of where that's been needed per se. But depending on use case, you could throw an `AggregateException` and deal with it that way.

[2019-10-01 14:03] braudabaugh opened #177 "Types returned by async subscription methods not unwrapped properly"
There are some problems with how the return type is unwrapped when you have a subscription method with the following signature:
[code]
When you look at the schema, the return type for the method is specified as FooTypeIObservable instead of FooType.

Also, fragment validation involving the type will cause this error:
[code]
These errors do not occur if you remove async from the method as follows:

[2019-10-02 07:17] #175 closed

[2019-10-02 11:23] BilyachenkoOY opened #179 "Discover derived classes"
I'm writing a framework and would like to allow users to override/extend classes which I return from GraphQL fields. For example:

[code]

But `ShippingCostLine2` is not discovered, since `ShippingCostLine` line is not an interface. And I don't want to create interfaces for every single model in my framework. So I tried to write attribute which will mark my models as interfaces, but I end up with

[2019-10-03 08:28] tlil commented on #175
A bit more of a delay, sorry. ETA within the next week.

[2019-10-03 08:28] tlil commented on #175
Will look at getting some of the other outstanding PRs included as well.

[2019-10-03 20:04] Dispersia opened #180 "Adding authorization with Conventions"
Hello, is there any example of using the graphql-dotnet/authorization with this package? I would really like to use these together, but can't figure them out.

 The two things I'm stuck on:
1. My query is marked with [ImplementViewer(OperationType.Query)]. With this, I try and mark my endpoint with [GraphQLAuthorize()], and it seems completely ignored. It does not apply the policy requirement to t

[2019-10-08 15:30] shoe-diamente opened #181 "Does "WithExposedExceptions" work as expected?"
I have set:

[code]

but exceptions from resolvers (that are not `ExecutionError`s) are still exposed. Specifically, a `System.NotSupported` exception is exposed as:

[code]

I'm returning the result via:

[code]

What am I missing? How can I prevent exceptions that are not `ExecutionError`s from being exposed?

[2019-10-08 18:54] tlil commented on #181
The exception will be exposed, but the stacktrace for said exception won't. See `test/Tests/Adapters/Engine/ExposingExceptionsTests.cs` for examples. Hope that helps.

[2019-10-09 07:20] shoe-diamente commented on #181
Oh, I see. Is there any way to customise the error in case of unrecognised exceptions or to block them off entirely?

[2019-10-09 08:02] sungam3r commented on #181
In graphql-dotnet you can use `ExecutionOptions.UnhandledExceptionDelegate`.

[2019-10-09 18:36] tlil commented on #181
You could also create an execution filter and throw a `try-catch` block around the execution handler :) That way you can control it 100%.

[2019-10-10 07:08] shoe-diamente commented on #181
@sungam3r Hi thanks, but it doesn't seem possible to set those options in graphql-dotnet/conventions. Am I wrong?

[2019-10-10 07:30] shoe-diamente commented on #181
@tlil Neat. I can't seem to find examples of that in the tests. Is that documented anywhere? Where could I see an example?

[2019-10-10 07:33] shoe-diamente commented on #112
Nevermind. Even without solving the `NonNull<>` problem this library has much less ceremony than the alternatives. It's also much more type safe. The fact that it supports partial updates (via `Optional<>`) was what made us choose this library.

Therefore I'll may have some time to work on either documentation or this issue. Is anybody else willing to help?

[2019-10-10 07:45] sungam3r commented on #181
I guessed about it. I have not watched the conventions project yet, although I can roughly imagine what it is. graphql-dotnet gradually evolves and new features appear in it, the reflection of which should somehow appear in consuming projects.

[2019-10-10 17:54] rkotenko opened #182 "ICollection model properties"
I have been using the DataLoaderEFCore sample to get Conventions working with my project.  I am not using a dataloader (yet) or Core though, so I mostly am using the Startup.cs portion as well as general query construction.  I have standard EF models, most of which contain collections referencing other models (these were reverse-engineered from an existing database).  Here is a truncated version o

[2019-10-12 20:39] Cherepoc opened #183 "Error when using optional nullable enums"
Having this in my input type:
public Optional<MyEnum?> Num { get; set; }
Gives me this message when trying to execute the request:
System.ArgumentException: Type provided must be an Enum.
Parameter name: enumType
   at System.RuntimeType.GetEnumNames()
   at GraphQL.Conventions.Types.Resolution.ObjectReflector.GetEnumValues(TypeInfo typeInfo)

Removing Optional works fine.

[2019-10-12 20:46] Cherepoc opened #184 "Type conversion extensibility"
Hi!
How can I extend complex type conversion? I see that there are different Wrappers and Unwrappers, can I extend that functionality? For example, in my GraphQL.net project I can build a schema type from a dictionary that has enum keys, mapping enum values as fields. Also, since there's no Optional type in that library, I created my version of it, which has an object and names of the properties t

[2019-10-13 07:56] BilyachenkoOY commented on #183
I believed that `Nullable<MyEnum>` is optional by itself in opposite to just `MyEnum`, doesn't it?

[2019-10-13 08:32] Cherepoc commented on #183
It's optional, but still in graphql there's a difference between not providing a value versus explicitly providing a null, and just having a nullable type does not let you differentiate between those two cases, which is why Optional type was added. See https://github.com/graphql-dotnet/conventions/issues/128

[2019-10-13 13:47] tlil commented on #175
2.2.0 on its way to Nuget now @BilyachenkoOY

[2019-10-13 13:49] tlil commented on #175
https://github.com/graphql-dotnet/conventions/releases/tag/v2.2.0

[2019-10-13 13:52] tlil commented on #181
Take a look at `ChaosAttribute.cs`, @shoe-diamente  :-)

[2019-10-13 13:55] tlil commented on #179
Mostly because of what you outline above (the fact that interfaces just get derived from `interface` declarations). I'm fine with a PR to change it to a public setter, provided that sufficient test coverage gets added as well.

[2019-10-13 13:56] #99 closed

[2019-10-13 13:57] tlil commented on #168
@batesm I'll close this one, however, feel free to reopen if you have any requests further to this.

[2019-10-13 13:57] #168 closed

[2019-10-13 13:57] #176 closed

[2019-10-13 13:58] tlil commented on #177
Thanks for the PR. Merged.

[2019-10-13 13:58] #177 closed

[2019-10-14 09:32] shoe-diamente commented on #181
@tlil In that example should then attach `[ChaosMetaData]` to every field, or...?

[2019-10-14 10:00] tlil commented on #181
If you mark it as `IDefaultAttribute`, it will be on by default :)

[2019-10-15 09:50] shoe-diamente commented on #181
I've tried with:

[code]

but unless I manually add it via `[ChaosMetaData]`, it won't throw exceptions anywhere. I'm missing something.

Do I have to register it somewhere? Can I inject services with the native .NET Core dependency injection system?

[2019-10-15 15:11] rkotenko commented on #182
If anyone has any insight, I would greatly appreciate it.  From what I can tell, since the field is declared as an ICollection, the element type can only be found by looking at ```GetGenericArguments```, but Conventions only calls ```DeriveFields``` for it.  And, of course, it does not find any fields because it is a collection and has no fields.

Again, these are standard EF 6 entity models creat

[2019-10-15 15:33] braudabaugh opened #185 "Using nullable types with Optional<> causes Constructor not found error"
If you pass a non-null value for an Optional field for a nullable type as part of a mutation payload, such as Optional<int?>, the following exception occurs when executing the mutation:

Constructor on type Optional<T> not found

[2019-10-15 17:07] RRKeegan commented on #117
I would like to implement this same functionality to expose the date without a time component. Have there been underlying conventions library changes to allow this? If not I'll try following the example provided by @leddt

[2019-10-15 17:30] sungam3r commented on #117
graphql-dotnet now [supports](https://graphql-dotnet.github.io/docs/getting-started/schema-types) 5 such types.

[2019-10-15 17:42] RRKeegan commented on #117
While the core library supports the Date type, I believe this issue is specific to the conventions library.  So rather than using `Field<Date>(..)` nomenclature, This library provides the ability to use POCOs e.g.: `public DateTime DateOfBirth {get; set;}`. If there the conventions library now provides the capability to expose a Date-only field I'd be very interested in seeing an example.

[2019-10-15 17:50] tlil commented on #117
https://github.com/graphql-dotnet/conventions/blob/91b49a4f9f39bc31c0846a608c582f7e88832d33/src/GraphQL.Conventions/Adapters/GraphTypeAdapter.cs#L140

Support for Date, DateTime, DateTimeOffset and TimeSpan have been added. For any missing ones, feel free to raise a PR.

[2019-10-15 17:55] leddt commented on #117
Unless I'm mistaken, there is no _clean_ way to use this, as there is no `Date` type in .NET. Hence my workaround using a `DateOnlyAttribute`, which has it's own share of issues.

Or maybe I'm wrong and there is a way. In that case, could you provide some sample code to demonstrate how we can use the `DateGraphType`?

[2019-10-15 18:58] tlil commented on #117
Yep, that's true. `Date` above is hinging on an implementation of `Date` that's compatible with `DateGraphType`, which is not straight-forward given the fact that the latter pattern-matches on the type `DateTime`.

The limitation is in the .NET type system, so for now your "best" option is something like `DateOnlyAttribute`. There is a proposal in **corefxlab**, https://github.com/dotnet/corefxlab

[2019-10-15 20:04] leddt commented on #117
I wonder if there would be a way to integrate with [NodaTime](https://nodatime.org/). We could then expose meaningful types such as `LocalDate`, `ZonedDateTime`, `Instant`, etc.

[2019-10-15 20:10] leddt commented on #117
Looks like this already came up in #160. It would probably be pretty simple to develop a package like `GraphQL.Conventions.NodaTime`. I'll try to look into it, if I find the time :)

[2019-10-15 20:36] tlil commented on #117
Yep, it should be pretty simple :) Mapping in `GraphTypeAdapter`, and a separate `*GraphType` implementation should get you going :+1:

[2019-10-15 21:07] leddt commented on #117
Well, that was pretty easy! I found the [GraphQL.NodaTime](https://github.com/shoooe/graphql-nodatime) package, which already implements the graph types. I just created a simple extension method to register them all as scalars. Here's my package:
https://github.com/leddt/GraphQL.Conventions.NodaTime

[2019-10-15 21:07] tlil commented on #182
You want `ItemCategories` to map into a GraphQL type of `[ItemCategory]`, correct? If so, I'm afraid the library only supports `T[]`, `IEnumerable<T>`, `IList<T>` and `List<T>` at the moment. It's not been made more generic than that, unfortunately. See below:

![image](https://user-images.githubusercontent.com/5948145/66869834-19e4c000-ef98-11e9-9460-2fbaa1d7f473.png)

[2019-10-15 21:08] tlil commented on #182
If you want to raise a PR with support for `ICollection<>`, I'd be more than happy to take a look :)

[2019-10-15 21:09] tlil commented on #117
🎉 Nice one :+1:

[2019-10-16 08:09] K-Pavlov opened #187 "Task unwrapping in ObjectReflector.GetType"
Let's say we have this schema:

[code]

We have a method in the query that returns a Task and an interface connection to Broken. Because tasks were not unwrapped, two GraphQL types were added for that Broken and depending on the naming of the method (alphabetic sorting in the ObjectReflector.GetFields)
the interface was getting either the Task<Broken> or Broken type; The integer type in Broken is

[2019-10-16 08:10] K-Pavlov commented on #187
@tlil I have a fix for this and will make a PR soon

[2019-10-16 08:14] K-Pavlov opened #188 "Internal LINQ iterator unwrapping"
In ReflectionExtensions->IsEnumerableGraphType(this TypeInfo type) internal LINQ iterators are not handled (for example - we return a someList.Where(...) from a resolver method) and they are not marked as enumerable graph types

[2019-10-16 08:14] K-Pavlov commented on #188
@tlil I have a fix for this too

[2019-10-16 12:13] rkotenko commented on #182
Yeah, I can do that.  :-D

[2019-10-16 12:25] rkotenko commented on #182
Question though:  I have added it it, but I am not sure how to actually query the parent model so the collections are included.  If I query to get my application along with itemCategories, the categories are just empty arrays.  That is because I was just returning context.Applications, which does not return any related data unless it is explicitly asked.  As I have multiple related collection prop

[2019-10-17 06:39] K-Pavlov commented on #182
@rkotenko If I understand your question correctly, it is how to register a type without including it in a query; As far as I know all types which are in the Query / Mutation in the Schema or are used somewhere in the classes in the Query / Mutation in the Schema without an [Inject] attribute (with a few exceptions for some Conventions classes) are registered - and nothing else is; If this is not y

[2019-10-17 14:28] rkotenko commented on #182
Alright. This is going to be a bit lengthy.

I have an model, used with Entity, shaped like this:

[code]

This is just the standard Entity shape with the ICollection  being a foreign reference to the ```ItemCategory``` model.  The Entity context uses this model to make a DbSet.

Now, from what I *thought* Conventions was for (and here is where we might need to clear up my misconceptions) was wrap

[2019-10-17 20:16] #185 closed

[2019-10-17 20:17] tlil commented on #185
Thanks!

[2019-10-17 20:17] tlil commented on #187
Great, thanks!

[2019-10-17 20:17] tlil commented on #188
:+1: Thanks!

[2019-10-17 20:19] #187 closed

[2019-10-17 20:22] #188 closed

[2019-10-18 08:21] K-Pavlov commented on #182
Yes, I see the problem now; In my opinion exposing database models from your data layer to the GraphQL is just plain wrong from an architectural point of view, which will bring you a lot of headaches, as Entity data might be structured differently, lazy loaded, DynamicProxies are returned, which are not handle by Conventions currently (and probably will never be), etc. Having more models gives you

[2019-10-21 07:31] BilyachenkoOY commented on #179
Looks like it has more step stones then just making public setter, but I still want to try to write my framework without extra c# interfaces. So I'll continue digging

[2019-10-21 14:41] K-Pavlov opened #190 "Lazy GraphTypeInfo.TypeParameter errors"
Upgrading to 2.4.0 is causing a lot unexpected erroneous behavior from the lazy GraphTypeInfo.TypeParameter
From GraphTypeAdapter.ConstructInterfaceType I am getting
[code]
It seems to me that things there are happening in a strange order (almost like parallel execution, from the lazy init); I haven't created a repro case for this as it would be complex (I could do it);
Is there such a big gain fr

[2019-10-21 14:42] K-Pavlov commented on #190
https://github.com/embracesbs/conventions/commit/9981659818c951e08b9d7b46f473e80e7c8b4e05 commit introducing this

[2019-10-21 14:43] K-Pavlov commented on #190
Commit introducing this https://github.com/graphql-dotnet/conventions/commit/9981659818c951e08b9d7b46f473e80e7c8b4e05;
@tlil @BilyachenkoOY

[2019-10-21 15:00] tlil commented on #190
Ah, sorry to hear that. @BilyachenkoOY, any chance you could put together a fix?

[2019-10-21 15:07] BilyachenkoOY commented on #190
Looks strange, as Lazy constructed with `LazyThreadSafetyMode.ExecutionAndPublication`. I'll try to reproduce it ASAP, but having some steps/insights would be great.

[2019-10-21 15:30] K-Pavlov commented on #190
@BilyachenkoOY We have a pretty big schema, with a lot of types, it's hard to pin-point the exact issue because it is similar to a concurrency issue;
From the looks of it the possible types collection is modified while being iterated:
[code]

This is happening in ConstructInterfaceType; Debugging our schema and schema construction didn't give me much information, sorry about that. I have a stack t

[2019-10-21 15:31] K-Pavlov commented on #190
I can also try to reproduce it, but I am not really sure when I will have the time for that

[2019-10-24 18:38] tlil commented on #190
@BilyachenkoOY did you get anywhere with this?

[2019-10-24 20:17] jdomnick opened #193 "Register custom scalar types using RequestHandlerBuilder"
I've seen that I could register my own custom scalar types using the RegisterScalarType function in the GraphQLEngine.
But when I build a RequestHandler  it seems I don't have the possibility to access the GraphQLEngine. Is there a way to register my scalar types when I'm using the RequestHandler?

[2019-10-25 06:36] BilyachenkoOY commented on #190
@tlil unfortunately - not :( I was not able to reproduce it or find right configuration for the case. I've also updated the lib in my project which contains hundreds of types, interfaces and some manually constructed `GraphTypeInfo`'s and no errors occurred too.

[2019-10-25 07:06] tlil commented on #190
@K-Pavlov, can you hit us up when you get time to look at it / reproduce it? Would be good to get this one resolved. :)

[2019-10-28 06:56] K-Pavlov commented on #190
@tlil @BilyachenkoOY Alright, I will be starting work on this soon

[2019-10-30 14:03] shoe-diamente commented on #181
It doesn't pick it up because [the method](https://github.com/graphql-dotnet/conventions/blob/c967849614f4a0e5c08a9a2995d5830af344680a/src/GraphQL.Conventions/Attributes/Collectors/AttributeCollector.cs#L80-L94) that discovers them only discovers them in the assembly of the library. There doesn't seem to be a way to specify a different assembly.

[2019-10-31 08:53] K-Pavlov commented on #190
@tlil @BilyachenkoOY Managed to make a small repro case:

[code]

This throws:
[code]

[2019-10-31 15:45] BilyachenkoOY commented on #190
@K-Pavlov
OK, it fails because I missed that lists of structs (Cursor in this case) are considered as primitives too.
Moving `EnsureTypeParameterInitialized` from [ObjectReflector.cs#L112](https://github.com/graphql-dotnet/conventions/blob/master/src/GraphQL.Conventions/Types/Resolution/ObjectReflector.cs#L112) right after `type = _typeCache.AddEntity(typeInfo, new GraphTypeInfo(_typeResolver, typ

[2019-11-04 09:20] BilyachenkoOY commented on #184
You can try to create / replace types by applying custom metadata attribute and resolve those field by intercepting calls to them in custom execution filter attribute

[2019-11-04 10:29] BilyachenkoOY commented on #190
@tlil I've simplified test-case a little bit (**upd** also there was a bug with implementations discovering)  and created a PR. @K-Pavlov  It would be very great if you can approve that fix works on your project, so that we can be sure it is still the same case :)

[2019-11-13 13:53] K-Pavlov opened #197 ""Unexpected type: " error"
Having this Schema and request
[code]
The result is a "Unexpected type: " error from GraphQL.NET. This seems very similar to #187, but the same fix breaks a lot of tests;
The contents of the type cache seem wrong to me:
<img width="938" alt="1" src="https://user-images.githubusercontent.com/5255046/68769756-8b626d80-062d-11ea-9280-0c30359a1ed2.PNG">
<img width="938" alt="2" src="https://user-image

[2019-11-13 21:03] tlil commented on #197
Does changing the following make any difference?

[code]

[2019-11-14 09:16] K-Pavlov commented on #197
@tlil No, not really; Switching the name of the A and B methods fixes it though, because of alphabetic sorting and the way a type is chosen (experienced the same behavior with #187)

[2019-11-15 15:56] shoe-diamente commented on #181
I tried with:
[code]

where `Graph.ErrorsGuardMetaDataAttribute` is:

[code]

Then following the code in this repository I tried to simulate the "search of default attributes" with that method with:

[code]

and:

[code]
and the array contains 1 element: `Graph.ErrorsGuardMetaDataAttribute`. Which implies that that metadata attribute is correctly found.

But when I try to run a query nothing of `G

[2019-11-15 17:07] shoe-diamente commented on #181
Even debugging the engine I get:
![Screen Shot 2019-11-15 at 17 02 02](https://user-images.githubusercontent.com/40760781/68957167-c0a3c280-07c9-11ea-905b-ed430e34e965.png)

And as you can see the `ErrorsGuardMetaDataAttribute` gets correctly registered as a default attribute. But it doesn't actually get executed ever.

[2019-11-23 17:42] angelobarandino opened #198 "Support for ignoring derived interface meant for internal use only"
Hello, I came to a problem where I implemented an interface to my output types where the only role of the interface is to allow me to automatically register type mapping in AutoMapper.

**Example**

[code]

The above example creates the following error:
`IMap fields must be an object with field names as keys or a function which returns such an object.`

I want to stick on the idea on how my DTO's

[2019-11-27 01:35] jjpepper opened #199 "Unit tests link in readme is broken"
title says it all really

[2019-11-28 19:48] tlil commented on #199
Fixed

[2019-11-28 19:48] #199 closed

[2019-12-07 05:33] blissi commented on #180
Have you implemented authorization?
I've got the same problem and don't know how to implement it.

[2019-12-08 02:48] Dispersia commented on #180
Unfortunately not. This issue caused me to use HotChocolate now, I hope one day this is shown, as I still prefer the conventions API the most.

[2019-12-10 06:34] tlil commented on #180
Hi guys. Sorry to hear that you're struggling to get this to work. Let me look into it and get back to you. Will need to make a couple of tweaks to make the auth functionality injectable.

[2019-12-14 08:01] blissi commented on #163
I am interested in that, too...currently I'm trying to get GraphQL.EntityFramework running for some resolvers, but that doesn't seem to mix with this library.

[2019-12-14 19:06] tlil commented on #190
Merged

[2019-12-14 19:06] #190 closed

[2019-12-14 19:06] tlil commented on #190
Thanks for the fix!

[2019-12-26 05:30] blissi opened #201 "Expose ExecutionOptions"
It would be great if the library would expose the ExecutionOptions in some way, for example
`_engine.NewExecutor().Configure(options => ...).Execute();`

This would allow us to use other libraries like https://github.com/SimonCropp/GraphQL.Validation:
`_engine.NewExecutor().Configure(options => options.UseFluentValidation()).Execute();`

[2020-01-08 05:41] blissi opened #202 "Add enums in schema?"
Hallo,
how can I add an enum to a schema without using it in any GraphQL type or the query?

My use case is as follows:
I have an enum for error codes and I want it to be in the GraphQL schema, because the schema is used to generate TypeScript for Angular. The error codes should also be in the schema.

At the moment I have to do this workaround:
[code]

[2020-02-22 11:52] jdomnick opened #203 "Fields getting derived in depth even they are ignored"
Hi,

For example, I've got the following classes:

public class GqlClass
{
    public NonNull<string> Text { get; set; }

    [Ignore]
    public MyClass ToMyClass()
    {
        return new MyClass();
     }
}

public class MyClass
{
    public T SomeGenericMethod<T>()
    {
        return default(T);
    }
}

When I use the GqlClass in a Query class, the startup fails because the field derivatio

[2020-02-28 13:25] HakuTheWolfSpirit commented on #203
I'm having the same issue here.
@tlil

[2020-02-29 11:51] tlil commented on #203
Thanks for submitting the fix, @jdomnick - merged and will release in a few. Apologies for the delay in getting back to you.

[2020-02-29 11:51] #203 closed

[2020-03-24 00:57] lp4793fg commented on #9
@tlil Your example is very helpful. Thank you so much.
I'm kind stuck on something tho,

Here's an exact code snippet from your example -
`            var typeAdapter = new GraphTypeAdapter();
            var typeResolver = new TypeResolver();

            var userRepositoryInterface = GetGraphType(typeAdapter, typeResolver, typeof(IUserRepository).GetTypeInfo());
            var userRepositoryTyp

[2020-06-10 18:48] tlil commented on #197
Fix in:
https://github.com/graphql-dotnet/conventions/pull/205

Thanks

[2020-09-02 21:39] OliverGildaro commented on #128
Hello
I need some help. I am trying to use this feature. But I find it difficult to implement.
I have a model

    [InputType]
    public class Person
    {
        public Optional<string> Name{ get; set; }

        public Optional<string> LastName{ get; set; }

        public Optional<string> Id { get; set; }
    }

I have an InputGraphType

    public class PersonType : InputObjectGraphType<Pers

[2020-09-28 05:47] casperOne opened #208 "Support for IAsyncEnumerable<T> as a return type for ListGraphType<T> fields"
Is there any plan to add `IAsyncEnumerable<T>` support for `ListGraphType<T>` fields?

Currently, returning an `IAsyncEnumerable<T>` implementation throws an `InvalidOperationException` with a message of:

[code]

Also, is there a way to add support through an override/interface implementation until it's added natively (if it is)?

Thanks in advance.

[2020-09-28 05:49] casperOne commented on #208
Apologies, this is in the wrong repo.

[2020-09-28 05:49] #208 closed

[2020-10-24 10:36] #153 closed

[2020-10-28 20:15] tlil commented on #153
Hey @SimonCropp , sorry this completely slipped my mind. Happy for a PR if you wanted to raise one? :-)

[2020-10-28 21:10] #164 closed

[2020-10-28 21:11] tlil commented on #201
Happy to accept a PR :)

[2020-10-28 21:14] tlil commented on #198
You should be able to decorate the interface with `[Ignore]` :-)

[2020-10-28 21:14] #198 closed

[2020-10-28 21:14] #184 closed

[2020-10-28 21:16] #182 closed

[2020-10-28 21:23] #131 closed

[2020-10-28 21:29] tlil commented on #202
There's no way of doing that, other than through a workaround as per your suggestion above. You could also achieve the same objective dynamically by introducing your own attribute, e.g., `[IncludeEnum(typeof(LHErrorCode))]`, and have that attribute include the enum type definition explicitly.

I don't see a reason for or a consistent way to include that type of functionality in the core library it

[2020-10-28 21:29] #202 closed

[2020-10-28 21:29] #201 closed

[2020-10-28 21:32] tlil commented on #193
There is not at the moment, no. Happy to accept a PR if you want to take a stab at adding a method for supporting scalar type registration in `RequestHandler.cs`.

[2020-10-28 21:32] #193 closed

[2020-10-28 21:38] tlil commented on #181
I missed this response, sorry. If you're still struggling to get it working, please re-open with a repro case that I can look at.

[2020-10-28 21:38] #181 closed

[2020-10-28 22:06] tlil commented on #179
Where did you get to with this @BilyachenkoOY ? Will close, but feel free to reopen if you ended up doing something along these lines.

[2020-10-28 22:06] #179 closed

[2020-10-28 22:08] tlil commented on #155
The latter is just a convenience class wrapping around some of the behaviours offered by the engine. So really depends on your use case and whether RH does what you need it to do :-)

[2020-10-28 22:08] #155 closed

[2020-10-29 05:51] tlil commented on #157
Added an option to `Describe()` so that you can instantiate your own printer based on the schema: https://github.com/graphql-dotnet/conventions/commit/1c91605fda8409fec89aaa2a4cbd4af2871bc146

[2020-10-29 05:51] #157 closed

[2020-10-29 05:53] tlil commented on #159
Keen to raise a PR? Ideally something like option 3, but you could also go with option 2 as a stepping stone.

[2020-10-29 06:07] tlil commented on #154
Added https://github.com/graphql-dotnet/conventions/commit/a3a0026ffd28b143fa17622b4ee09cf7f88aa0c9 to caution against concurrent calls to `BuildSchema()` - can you ping me back if that doesn't resolve the issue? Cheers!

[2020-10-29 06:07] #154 closed

[2020-10-29 06:10] tlil commented on #158
Ah, just going through old issues and found that I hadn't replied to this yet, sorry.

Have you checked out Lee's video walk-through (https://www.youtube.com/watch?v=OQTnXNCDywA)? :-)

Will close out this issue. But happy to chat further if you wanted to discuss alternative approaches.

[2020-10-29 06:10] #158 closed

[2020-10-29 06:12] tlil commented on #162
Yes. Also, closing as dup of https://github.com/graphql-dotnet/conventions/issues/133 :)

[2020-10-29 06:12] #162 closed

[2020-10-29 06:14] tlil commented on #163
Yes, take a look at [DynamicConstructionTests.cs](https://github.com/graphql-dotnet/conventions/blob/master/test/GraphQL.Conventions.Tests/Adapters/Engine/DynamicConstructionTests.cs) :-)

[2020-10-29 06:14] #163 closed

[2020-10-29 06:17] tlil commented on #183
Marked as "won't fix" - but if you wanted to hazard a try, I'm happy to accept a PR.

[2020-10-29 06:17] #183 closed

[2020-10-29 06:21] #117 closed

[2021-01-08 17:16] Mcat12 opened #211 "Incompatible with GraphQL.Server Metrics/Instrumentation"
When using GraphQL.Conventions with GraphQL.Server, the following error occurs during the first GraphQL request:
[code]

[GraphQL.Server.GraphQLOptions.Metrics](https://github.com/graphql-dotnet/server/blob/80bde26b6e0626a01de5b9d87662a0dc24f4187d/src/Core/GraphQLOptions.cs#L19) is enabled by default. This eventually results in a call to [`provider.GetService(middleware)`](https://github.com/graph

[2021-01-23 07:29] tlil commented on #211
Hey @Mcat12 - apologies for my late response.

Thanks for the above report. It does indeed look like there's a mismatch in return types for [`DeriveTypeFromTypeInfo()`](https://github.com/graphql-dotnet/graphql-dotnet/blob/32e614877cf4a8de6e0b9fc9fb0723498320ee3e/src/GraphQL/DI/FuncServiceProvider.cs#L18). I've attempted a fix on branch [`fix/issue-211`](https://github.com/graphql-dotnet/conventio

[2021-01-23 22:06] AzureMarker commented on #211
That does seem to fix the error, although I've since changed to the GraphType approach instead of using this library (I think I ran into some issues with passing through GraphQL Server's context; I tested this fix on a previous revision).

[2021-01-24 05:48] tlil commented on #211
No probs. Thanks for checking. 👍

[2021-01-24 05:48] #211 closed

[2021-01-24 05:50] tlil commented on #211
If you recall any context around the other issues that you ran into, feel free to elaborate and I can have a look into it.

[2021-01-24 21:30] Mcat12 opened #213 "Using user context with GraphQL Server?"
I was trying out the library and found that there doesn't seem to be a good way to use it with [GraphQL Server](https://github.com/graphql-dotnet/server) and access the user context that that library provides (via [`AddUserContextBuilder`](https://github.com/graphql-dotnet/server/blob/a41d7c318760226af17ed33b9e4ebe8e900032a7/src/Transports.AspNetCore/GraphQLBuilderExtensions.cs).

This Conventions

[2021-01-29 18:33] larsbloch commented on #128
I fixed this by not using conventions as i felt i was adding too much to a simple API. Check my solution i made here:
https://github.com/graphql-dotnet/graphql-dotnet/issues/541#issuecomment-769973916
Feel free to ask questions.

[2021-02-18 15:35] K-Pavlov commented on #159
@tlil @BilyachenkoOY Hey guys, I implemented option 2 and did some investigation related to it as a first step to this enhancement - looking at [graphql-dotnet Schema.cs](https://github.com/graphql-dotnet/graphql-dotnet/blob/master/src/GraphQL/Types/Schema.cs), registering directives is treated the same way as registering types, so the WithDirective(DirectiveGraphType) should _not_ call _schema.Re

[2021-02-18 18:41] sungam3r commented on #159
@K-Pavlov Working with directives (like so much else) has been heavily changed in GraphQL.NET v4. See https://github.com/graphql-dotnet/graphql-dotnet/pull/2276 and especially https://github.com/graphql-dotnet/graphql-dotnet/pull/2276/files#diff-8cc34927497a4d6a5aa8a4626fee297f7090758816221962d3a312d89bc522c7

[2021-02-19 07:15] K-Pavlov commented on #159
@sungam3r Thanks for the heads-up! It would be better to wait for GraphQL.NET v4 before implementing this. Also it seems reasonable that adding support for server-side directives when fields are generated should be part of this enhancement (a field / property attribute seems reasonable); Excellent work on the directives and the much appreciated documentation :+1:

[2021-02-22 16:44] AndreasFurster opened #214 "Access queried fields inside query"
Take the following query for example;

    [ImplementViewer(OperationType.Query)]
    public class Query
    {
          [Description("Retrieve book by its globally unique ID.")]
          public Task<Book> Book(UserContext context, Id id) => context.Get<Book>(id);
    }

I would like to get a list of the requested fields, so I can create a database query with only those fields (we have very large

[2021-02-22 21:36] sungam3r commented on #214
It is 100% possible when using GraphQL.NET directly.

[2021-02-22 23:20] tlil commented on #214
You should be able to inject `IResolutionContext` into the resolver via DI, and access the `ResolveFieldContext` from there (`FieldContext`).

[2021-02-23 21:52] tlil commented on #214
@AndreasFurster - example:

![image](https://user-images.githubusercontent.com/5948145/108912993-4b0be080-7621-11eb-82ea-d342215c2874.png)

Where the method `ResolutionContextField` is an example resolver. :-)

![image](https://user-images.githubusercontent.com/5948145/108913132-7a225200-7621-11eb-8caa-a337f200dd41.png)

[2021-02-23 21:53] #214 closed

[2021-02-24 10:23] AndreasFurster commented on #214
That works perfectly! Thanks a lot!

[2021-02-26 16:10] kuzn-ilya opened #215 "Add support for IDataLoaderResult<>, new type from GraphQL 3.0.0"
DataLoaders in GraphQL have been slightly changed in the 3.0.0 release. Now GraphQL expects IDataLoaderResult<> type, which has to be returned from resolvers instead of Task<>. But it seems like GraphQL.Conventions doesn't handle IDataLoaderResult<> properly.
For instance, this schema fails:
[code]
I believe, that it can be fixed similarly to #187, and I have a working solution, so I can raise a P

[2021-02-26 18:49] tlil commented on #215
Cool - go for it :-)

[2021-03-01 20:45] tlil commented on #215
Thank you, @kuzn-ilya  - merged in #216. Will follow up with a release tomorrow. :-)

[2021-03-01 20:45] #215 closed

[2021-03-02 05:45] tlil commented on #215
@kuzn-ilya; now in https://github.com/graphql-dotnet/conventions/releases/tag/v3.3.2

[2021-03-10 19:10] Vidzhel commented on #112
Has anybody seen this:
https://stackoverflow.com/a/58454489/11281179

This seems to be working, at least with what I've checked.
NullableAttribute is internal, so the full name is used to find it:

[code]

[2021-04-09 10:04] syaylev-minbox commented on #180
Experiencing the same problem. GraphQl.Authorizations assumes that UserContext implements IProvideClaimsPrincipal, but GraphQLEngine treats UserContext as dictionary (with IUserContext and IDependencyInjector inside). So today there is no option to combine GraphQLEngine and authorization.

I hope you will implement this, because this is really usefull feature.

[2021-04-09 21:45] sungam3r commented on #180
May be related to https://github.com/graphql-dotnet/authorization/pull/128

[2021-04-19 15:08] baluubas opened #219 "Implicit conversion in IdGraphType adapter"
We're in the process of upgrading from 2.x to 4.0.0 and I'm having some trouble in my schema where we have a *nullable* id `Graph.Convention.Id? `. When serializing a response where the id is null we a get:

[code]

There seem to be a implicit conversion going on as this failing test illustrate:
[code]

Our workaround at the moment is to replace the `IdGraphType`  the following version that does n

[2021-04-21 18:21] tlil commented on #219
From a quick glance at it, it seems like this was introduced in https://github.com/graphql-dotnet/conventions/commit/f02cddaaaaf1bd1951055e096003c58fa2913783. @schabannes any thoughts? :)

[2021-04-21 23:28] schabannes commented on #219
Which version of GraphQL.Conventions are you using?
I'm surprised as your implementation in 'WorkaroundForNotBeingAbleToHaveNullableIds' is equivalent to the one in [GraphQL.Conventions.Adapters.Types.IdGraphType](https://github.com/graphql-dotnet/conventions/blob/f02cddaaaaf1bd1951055e096003c58fa2913783/src/GraphQL.Conventions/Adapters/Types/IdGraphType.cs) (v 4.1.0)

[2021-04-22 05:15] tlil commented on #219
👍  Looks like a 4.0.0 issue, and that you'd be fine if bumping up to 4.1.0?

[2021-04-22 07:14] baluubas commented on #219
We're on 4.0.0.

Yes, I would have thought so too but a decompiler gives me this class (via jetbrains decompiler). Which gave me a hint about the unwanted cast.

[code]

[2021-04-26 13:18] syaylev-minbox opened #220 "using of IDataLoaderResult<NonNull<List<X>>> leads to error"
Seems that "conventions" missing some additional `unwrapper` for that case. Please see unittest below.

I get an exception because ExecutionStrategy expects to see IEnumerable<X> but it gets NonNull<List<X>>. Seems that at some point graphql-dotnet decided to require IEnumerable in situations where NonNull<IEnumerable> is declared.

If you try to get NonNull<List<X>> you will be succeeded. Also if

[2021-04-26 15:23] syaylev-minbox commented on #220
For history. I have found one method to solve this that makes no pleasure at all.
I have copy-pasted `BatchDataLoader<TKey, T>`, `DataLoaderBase<TKey, T>`, `DataLoaderBase<TKey, T>.DataLoaderList` and `DataLoaderPair<TKey, T>` classes and changed theirs signatures little bit.

Modified dataLoader must return `IDataLoaderResult<NonNull<List<T>>>`, but it also must fetch dictionary of `List<T>`. In

[2021-04-26 16:44] #220 closed

[2021-04-26 16:45] tlil commented on #220
Will bump the version in a bit. Thanks @Shane32 , and thanks for reporting @syaylev-minbox

[2021-04-27 05:39] #219 closed

[2021-04-27 05:42] tlil commented on #219
Duh 🤦  I was on my phone and confused myself for a sec re version numbers, sorry. I just bumped the package for another update to `4.1.0`, and added your override in `IdGraphType` - can you check if that works for you @baluubas ?

**Update:**

This issue auto-closed based on my previous commit. Feel free to re-open if it doesn't work as expected.

[2021-04-27 05:47] tlil commented on #220
New package is up btw :)

[2021-04-28 09:08] baluubas commented on #219
Works as charm on 4.1.0 - thanks 🎉

[2021-04-28 09:25] tlil commented on #219
Awesome - thanks for confirming!

[2021-09-20 23:40] SerenityTn opened #224 "Use custom JsonSerializer for DocumentWriter with RequestHandler / GraphQLEngine"
I want to pass JsonSerializerSettings to the DocumentWriter in the GraphQLEngine, Would that be possible?
I saw the solution to override it using the AddSingleton at startup, but I need to pass it while instantiating the RequestHandler

[2022-03-23 16:25] aeyaey opened #229 "Convention generated schema along with federated schema"
Is it currently possible to use this project along with federated schema?

Currently we use the GraphQL.Utilities.Federation.FederatedSchema.For(...) with a text based schema and c# classes matching that. Having to keep the schema and classes in sync seems a bit dull.

[2022-05-16 12:23] Tim-Maes opened #230 "Question regarding auto-generating Graph schema & types in FE"
We're using a graph-api-generator library to generate all types in the frontend.
Queries always return a result -never null- and we have Angular 13 with strict typing.

When we generate the types, the outputTypes are generated as `Type | null | undefined` or `Type | any`.

I wonder if there is a way in backend to indicate non-null results (as in NonNull<T> for input) ? If there is, how? :)

Thanks

[2022-05-17 05:57] tlil commented on #230
Do you mean something like this?

[code]

from `test/GraphQL.Conventions.Tests/Adapters/ArgumentResolutionTests.cs` :-)

[2022-05-18 11:44] HaroldH76 opened #231 "Question regarding conventions and the Entity Framework scoped / async issue"
We use GraphQL.Conventions and we have the issue that is described over here:
https://github.com/graphql-dotnet/graphql-dotnet/blob/master/docs2/site/docs/guides/known-issues.md#entity-framework-concurrency-issues

We would like to apply this suggestion:

Are there any tips / examples / guidelines how this can be done with conventions and the ```inject``` attribute?

[2022-11-16 12:40] floge07 opened #234 "After updating to 7.0.0, problems with executing operations that include union types"
GraphQL 7.1.1
GraphQL.NewtonsoftJson 7.0.1
GraphQL.Server.Transports.AspNetCore 7.1.1
GraphQL.Conventions 7.0.0

After Updating to the newest Version and after adjusting for the breaking changes by reading the migration guides, I still have a problem with Union types that I'm not able to fix.

When I try to run a query that returns an union type, the ExecutionResult contains this error:

The menti

[2022-11-16 16:51] sungam3r commented on #234
Regarding the first error - could you provide exception stack trace?
Regarding the second error - do you share your graph types across multiple schemas?

[2022-11-17 07:43] floge07 commented on #234
Sadly I have no stack trace for it. This error is already serialized into the ExecutionResult (in the errors list as a message).
I am currently trying to debug the conventions package, so maybe I'm able to extract the stack trace somewhere...

I'm afraid I'm not quite sure what exactly "multiple schemas" are... I add Graphql with this:
[code]
So there is only one ISchema registered.
But the type '

[2022-11-17 07:55] sungam3r commented on #234
I think this is a question of how `GraphQLEngine` from this project creates schema with graph types inside. I don't know since I don't use it.

Try enable `ExecutionOptions.ThrowOnUnhandledException`

[2022-11-17 08:00] Shane32 commented on #234
I suggest adding `configure.AddErrorInfoProvider(o => o.ExposeExceptionDetails = true);` to expose stack traces in the responses.

[2022-11-17 08:03] Shane32 commented on #234
@sungam3r I'm not sure there are any tests in the Conventions project that use `IGraphQLBuilder` (or `Conventions.DocumentExecuter` for that matter).  Assuming not, we should add some.

@floge07 I don't use the Conventions project either, but I found some tests for unions, which all seemed to run fine.  I altered the tests so queries would run twice, with no ill effect either.

[2022-11-17 08:14] floge07 commented on #234
Yes, that worked. So here is the stack trace:

[code]

[2022-11-17 08:18] sungam3r commented on #234
I suppose it is line 262 (not 260) : ` var fieldType = GetFieldDefinition(context.Schema, (IComplexGraphType)specificType, field);`

[2022-11-17 08:38] floge07 commented on #234
Is it even correct that the UnionGraphType is getting to that function? I would expect that that function should be called on the possible types it wraps, or not?

Btw, am I assuming correctly that you will look into this? Or do I have to do it?

[2022-11-17 16:06] sungam3r commented on #234
The ideal option is to make PR with a test that demonstrates the problem. Then we will fix the error ourselves. Without repro, it is difficult to help judging by scattered info and will take more time.

[2022-11-17 16:11] Shane32 commented on #234
@floge07 Ditto here.  I don't use the conventions project, and while the issue may be something simple, I'm not familiar enough with the codebase to diagnose it without a repro.

[2022-11-17 16:30] floge07 commented on #234
I see, that makes a lot of sense. Will do it tomorrow.

Edit: It works in the test... but why...?! Somewhere is a difference... What am I missing...?!

[2022-11-18 12:02] floge07 commented on #234
I figured it out. It's not the Union in itself, you have to select __typename on the Union to cause this error.

this works:
![image](https://user-images.githubusercontent.com/53813973/202698400-802e1879-2675-4a5d-b60a-af45ac46c283.png)

this does not:
![image](https://user-images.githubusercontent.com/53813973/202698568-926d2ba1-3e05-4085-979b-d492fa4f3962.png)

** test is a Union that returns Ty

[2022-11-18 12:51] sungam3r commented on #234
I didn't manage to reproduce it. See `UnionInterfaceTests` class that uses `__typename` a lot.

[2022-11-18 13:09] floge07 commented on #234
What are these edge cases?!
It only happens when the method that returns the union has a variable...
![image](https://user-images.githubusercontent.com/53813973/202712375-325bf658-7782-4e5d-ba2a-90449ae0500d.png)

Btw I wrote the test in conventions because I thought that's where the problem is. But I will try to write one in the base project next.

[2022-11-18 14:38] Shane32 commented on #234
@floge07 Thanks for working on this!  I've also tried to reproduce the issue without success, so a test -- either in the conventions project and/or in the main project -- would be very helpful in tracking this down.

[2022-11-21 08:52] floge07 commented on #234
I too was not successful in reproducing this problem in the base project. So it seems this is specific to the way the conventions project builds the schema or something, which is annoying as the knowledge of this project seems to be limited...

Edit: Also, we can ignore the second error I wrote about. Can't reproduce it anymore.

[2022-11-21 16:13] sungam3r opened #236 "Question about the place of this package in GraphQL.NET ecosystem"
Hi @tlil . Reading #235 I opened readme to see what this projct about. As it states

At the moment, the main package also provides such a feature. It was almost written by @Shane32 . I assume that some parts of this project may now be irrelevant. I must admin that I do not use your project and did not watch its source code.

[2022-11-21 16:16] sungam3r commented on #236
If everything is really as I believe, now such a situation can confuse people when they do not understand what they should use.

[2022-11-21 18:55] Shane32 commented on #234
The bug is reproducible in base GraphQL.NET, when attempting to retrieve `IResolveFieldContext.SubFields` from within a field resolver for a union graph type field.  This Conventions project clones `ResolveFieldContext` via the copy constructor, which copies the `SubFields` property (and in so doing, materializes it, triggering the bug).

[2022-11-21 20:22] Shane32 commented on #236
I have never used this project either.  However, after looking through it a bit, I have a few comments:

- While it is likely that the new AutoRegisteringGraphTypes can easily replicate the majority of the features of the conventions project, it should not be hard to maintain this project for existing users.  Issue [#234](https://github.com/graphql-dotnet/conventions/issues/234) is not the fault o

[2022-11-21 21:51] Shane32 commented on #234
This bug is confirmed to be a GraphQL.NET issue and will be tracked here:
- https://github.com/graphql-dotnet/graphql-dotnet/issues/3415
- https://github.com/graphql-dotnet/graphql-dotnet/pull/3416

No changes are necessary in this repo.  Once the issue is fixed in GraphQL.NET, simply reference the updated nuget package and the issue should be resolved.  Please reopen this issue if that is not the

[2022-11-21 21:51] #234 closed

[2022-11-23 09:45] floge07 commented on #236
I think I can give an example to hopefully answer some of these questions:

[code]
* async is supported.
* There are [Name] and [Description] Attributes you can use on Arguments and Fields.
* There is the IDependencyInjector service, which is used by the [Inject] Attribute. In our case, we implement that Interface and just call IServiceProvider.GetService()

[2022-11-25 14:30] sungam3r commented on #236
From this example I see that GraphQL.NET can do the same. It has `NameAttribute` to set name as well but not for description. I can't find one. Did we write attribute for description, @Shane32 ? `NonNull` wrapper is not needed, you may use NRT instead. Use `[FromUserContext]` on `IUserContext` argument and `[FromServices]` instead of [Inject] . NameAttribute works for parameters as well.

[2022-11-25 14:34] sungam3r commented on #236
Ah, `DescriptionAttribute` is one of those from `System.ComponentModel` namespace. GraphQL.NET supports those attributes for a long time.

[2022-11-25 21:33] tlil commented on #236
![CleanShot 2022-11-25 at 21 33 09](https://user-images.githubusercontent.com/5948145/204057239-0cd08319-cfb7-4e4e-95bd-eb28ddf93bf1.png)

[2022-11-25 21:46] tlil commented on #236
@sungam3r I'll close this issue now; I don't see anything constructive here to be honest, other than critique of differences in work that has been years in the making.

This project was started more than 6 years ago, has been used and running in production systems since its inception, and serves use cases for a bunch of users as-is.

I am not going to force anyone to migrate and refactor their cod

[2022-11-25 21:46] #236 closed

[2022-11-25 22:17] Shane32 commented on #236
Well said

[2022-11-28 08:19] floge07 commented on #234
@Shane32
Now that the pr is merged, do you have a time estimate for the release that will contain the fix?
Btw, huge thank you all for working through this bug so fast!

[2022-11-28 20:07] Shane32 commented on #234
Waiting on https://github.com/graphql-dotnet/graphql-dotnet/pull/3417 to release 7.2

[2022-11-29 06:20] sungam3r commented on #234
I will review ASAP.